[2018-05-09 02:42] chanan opened #1 "Fix binding, events and arbitrary attributes"
Implement a base class for tags that will bind arbitrary attributes.

Some details here: https://github.com/aspnet/Blazor/issues/735

[2018-05-10 16:04] simonziegler opened #2 "TabPane"
Hi Chanan,

Thanks for your Blazorstrap work! I've just started trying it out, and am struggling to find a tab pane example for Navs. Is there one you can refer me to please?

Many thanks,  Simon

[2018-05-10 22:17] #1 closed

[2018-05-10 22:56] chanan commented on #2
Sample added
web page: https://chanan.github.io/BlazorStrap/tabs.html
Code page: https://github.com/chanan/BlazorStrap/blob/master/src/Sample/Pages/Tabs.cshtml

Things to note:

1. Syntax isn't great, but till Blazor supports the concept of context it will have to do
2. The navs aren't colored in blue and the cursor doesn't change to a "hand" this is because in plain html/bootstrap they get the cl

[2018-05-10 22:56] #2 closed

[2018-05-17 16:20] richbryant opened #4 "BlazorButton produces compile errors"
Hi,

I decided to try out a Jumbotron as a starter using the template provided -

[code]

However, the last line throws errors, specifically around Color and Size not existing in the current context.

What have I missed?

[2018-05-18 08:17] richbryant commented on #4
I have now and it's working perfectly :)  Let's close this one.

[2018-05-18 08:17] #4 closed

[2018-05-30 09:36] PtwHub opened #5 "Bootstrap coupled or Material-Design possible?"
Hi Chanan. Nice! I'm assuming, due to the name, that this is not reasonably usable/adaptable with a  Material-Design style basis? Sure, one can hack a Material-Design style on top of Bootstrap, but not really a good idea. We use MD in other contexts and, as such, can't readily go with Bootstrap. ... any thoughts appreciated!

[2018-05-30 16:12] chanan commented on #5
BlazorStrap is indeed for bootstrap4. I saw this library is also being created for material design: https://github.com/BlazorExtensions/BlazorMaterial

Another option is using Blazorous to create what ever components you want: https://github.com/chanan/Blazorous

[2018-05-30 16:12] #5 closed

[2018-06-08 23:37] chanan opened #6 "Can't upgrade to Blazor 0.4.0"
https://github.com/aspnet/Blazor/issues/954

[2018-06-09 21:42] vertonghenb opened #7 "Dropdown Close on Escape (Fixed now) or Click outside element (Still pending)"
Any idea's how we can tackle the issue when a dropdown is open and we want to close it based on a random click or escape key press?

[2018-06-09 23:13] chanan commented on #7
Yes, that will be possible with Blazor 0.4.0 update. The problem is that BlazorStrap doesnt work with Blazor 0.4.0: https://github.com/aspnet/Blazor/issues/954 <--- once I either find a workaround or that issue is fixed, I will add Escape key closing dropdowns and modals.

[2018-06-09 23:19] vertonghenb commented on #7
We'll I've been looking into the escape key and that should be relatively easy. However I was thinking to add the `onfocusout` to the element but it currently doesn't sent the sender or target that triggered the event. Therefore it will always trigger the onfocusevent (hiding the dropdown) before any action on the children can be triggered or am I missing something here?

[2018-06-09 23:21] chanan commented on #7
Most likely won't be able to fix it without updating to Blazor 0.4.0, but if you add a code snippet to this issue, when I finally can update Blazor, I will make sure your use case works as well.

[2018-06-09 23:31] vertonghenb commented on #7
Here's a quick look at the Dropdown component for 0.4.0

[code]

[2018-06-13 14:05] conficient opened #8 "Docs generating a 404 error for font in site.css"
The site.css file requests a font that isn't present causing a 404
[code]

[2018-06-13 14:31] conficient opened #9 "Documentation bugs"
Just a few notes on the documentation:
 * the `h3` tags could do with a padding-top or margin-top, they are often up against the example of the previous section, which looks confusing?
 * alerts: the "Dismissing" example is not rendering?

[2018-06-13 14:35] chanan commented on #9
I will take a look at making the docs look better and the alert showing, however, that example will not work in the doc site since it run on Blazor, and the docs are static (for now).

[2018-06-14 14:51] chanan commented on #9
Fixed

[2018-06-14 14:51] #9 closed

[2018-06-14 14:51] chanan commented on #8
Fixed

[2018-06-14 14:51] #8 closed

[2018-07-05 16:19] chanan commented on #6
This has now been fixed in the Blazor dev branch, once that is merged, I will update BlazorStrap

[2018-07-26 15:43] chanan opened #10 "Update project to Blazor 0.5.0"

[2018-07-26 22:10] chanan commented on #6
The fix for this is included in Blazor 0.5.0

[2018-07-26 22:10] #6 closed

[2018-07-26 23:01] chanan opened #11 "Error updating to Blazor 0.5.0"
While trying to update to Blazor 0.5.0 parts of the sample site stopped working. I opened an issue in the main Blazor repo:

https://github.com/aspnet/Blazor/issues/1206

[2018-07-29 08:04] jinqi166 commented on #11
what about Blazor0.5.1

[2018-07-30 16:06] chanan commented on #11
Tried 0.5.1 - didnt help.

I might try to delete the sample project and recreate it, see if that helps. That will take me a while to do though.

[2018-08-01 16:40] ebekker commented on #11
Looking at the latest comments in 1206 -- it seems the issue may be that your custom `<Col>` tag that you use for defining layouts is conflicting with the built-in HTML [`<col>` tag](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/col) which is a self-closing tag.  Wonder if the custom layout tag should be renamed just to not conflict anyway?

[2018-08-01 16:42] chanan commented on #11
@ebekker Ah, didn't think of that. I will try renaming it to BlazorCol later today and see if it goes away. Thanks for the idea!

[2018-08-01 16:54] chanan commented on #11
Thanks to the suggestion by @ebekker, I fixed that error, now working on new ones.

[2018-08-01 17:14] #11 closed

[2018-08-01 17:28] ebekker commented on #11
Great!  Post those as well, maybe there's a clever way to work around them too.

[2018-08-01 17:31] #10 closed

[2018-08-02 13:25] fs86 opened #12 "Tooltips are not displayed from time to time"
Hello,

I have a table with a few icons in each row. Every single icon has its own tooltip. But for some reason some of the tooltips don't show up when a mouseover event occurs. It seems to be totally random and every time the page loads it is an other tooltip that dosn't show up. If I use the classic bootstrap way to display tooltips (not via BlazorStrap) and initialize them in the OnAfterRender

[2018-08-02 15:08] chanan commented on #12
A small repro will help if you get the time. I did notice that the tooltip page in my sample project, the hover spot doesnt seem to take up the full element. Could that be the same problem you are having?

[2018-08-02 16:43] fs86 commented on #12
Possible, but I need further investigation. I will create a sample repo.

[2018-08-03 13:38] MarkStega opened #13 "A disabled BlazorNavLink still activates the router when clicked."
[code]
This link is rendered in the disabled color, however when I select it I am routed to 'logoffview'.
I can see that the IsDisabled is part of the rendered code, but it isn't functioning as I would expect.
[code]

[2018-08-03 14:13] MarkStega opened #14 "Horizontal navbar has odd responsive behaviors"
These may all be known to you based on the alert on the navbars page in the sample app ("Navbar toggle needs more work)  but here is what I have observed:

As you reduce the width of the page the navbar reorients from a horizontal to a vertical presentation, however:
* The hamburger does not appear until you further reduce the page width
* The vertical menu starts in the open format and it really

[2018-08-03 14:25] MarkStega opened #15 "Documentation missing for css environment"
I see in the sample that you have added css in site.css to support the sample. Is any of that needed for proper functioning of BlazorStrap or is the current BootStrap V4 css all that is needed? A quick addition to the documentation adding a "Using BlazorStrap" section would be welcome.

[2018-08-03 15:04] MarkStega commented on #14
I take part of my observations back; The lack of coordination of the hamburger and the menu that I was observing was getting caused by the css in site.css that got generated when creating a new Blazor project. As soon as I removed the following css the menu became responsive as expected:
[code]
You have the same @media content in your sample app so I removed it and the responsiveness was OK where

[2018-08-03 15:44] MarkStega commented on #14
And I take the issue of the initial vertical navbar being open when it is first presented off the table also. Counter intuitively, is you start with 'IsOpen = false;' a horizontal menu still displays but however you get to a vertical menu it starts off as collapsed.

[2018-08-03 15:55] chanan commented on #15
I think the only thing I added to site.css was specific to the sample site - such as the docs div. I will recheck.

I do plan to add support for bootstrap themes and a theme switcher component, which will require setup to use. So will definitely have its own documentation page.

[2018-08-03 15:58] chanan commented on #14
The issue with the site.css might be that Blazor is still using (last I checked) Bootstrap 4.0 and BlazorStrap uses 4.1. There are a few differences between the two which *might* cause the issue with the site.css. I will look into it.

I will also review the isOpen functionality and see if we can avoid the "flicker" you observed.

[2018-08-03 17:19] MarkStega commented on #15
At least so far, I emptied the site.css file and my use of BlazorNav, Tables, and Container, Row, & BlazorCol are all working as expected.

[2018-08-03 17:21] MarkStega commented on #14
I changed by Index.html to have
[code]
I confirmed with the Blazor guys that they have no inherent use of Bootstrap other than what gets styled in the client app.

[2018-08-06 07:33] fs86 commented on #12
Unfortunately I was not able to reproduce this behavior in my test repo. Maybe there are some other things in my project that I have to resolve first. From my side this issue can be closed as I think it is not an issue of BlazorStrap.

[2018-08-28 06:56] Nick-DataByte commented on #12
The target would probably need to be unique for each row creating the ToolTip and target. The code for the ToolTip is using GetElementById so is getting the first element it finds in the DOM with the specified target id, which could be random and not the element that you would expect.

What would be nice is if the ToolTip tag wrapped the tag it was targeting and would automatically attach to the M

[2018-09-22 19:29] ThumNet opened #17 "Pass arguments to onclick method"
Hi,

I was wondering if it is possible to pass one or more attributes to the onclick methods of the components.

Currently I'm not able to pass arguments. For example with the

[code]

I'd like to use this:
[code]

This code produces the following error:

* Error	CS1593	Delegate 'Action<UIMouseEventArgs>' does not take 0 arguments

This seems to be limited due to the UIMouseEventArgs
[code]

Can y

[2018-09-23 16:32] ThumNet commented on #17
I found the solution and it's so easy!

[code]

[2018-09-23 16:32] #17 closed

[2018-10-02 19:43] MarkStega opened #18 "Need a build for Blazor 0.6.0 release"
Running an app on 0.6.0 with BlazorStrap 0.5.1 does not work well. I simply cloned the repository and built BlazorStrap locally against 0.6.0; no changes were needed and everything seems to function.

[2018-10-02 19:45] chanan commented on #18
Thanks! Will update tonight, so you should have a fresh build tomorrow morning.

After the initial release to 0.6.0 will look into templates, I am sure they will help in many places

[2018-10-02 20:44] MarkStega commented on #18
Thanks, any thoughts on issue #13 ?

[2018-10-02 21:04] chanan commented on #18
No, sorry neglacted the project for a bit because so many other things broke with Blazor 0.5.0 (my other projects more then this one). I will try to find a solution once its updated to Blazor 0.6 - worse comes to worse, if IsDisabled, it can always be rendered as a non link with the same styles. Maybe...

[2018-10-03 15:08] chanan commented on #18
Updated, should be on nuget shortly.

[2018-10-03 15:08] #18 closed

[2018-10-03 17:57] MarkStega opened #19 "Displaying a modal when a page navigation occurs"
I'd like to have a modal displayed when a page is the target of a navigation event. IE, if you navigate to page x that contains a component that is a modal I'd like to have that modal rendered in open mode.

The issue is that if you try to set IsOpen (presuming that is your member controlling the modal visibility) in OnAfterRender the modal does not display. If you simply place a button on page x

[2018-10-03 18:02] chanan commented on #19
Ok, I will update the other project I have first to Blazor 0.6.0 and come back to this, unless you want to submit a PR?

[2018-10-03 18:16] MarkStega commented on #19
I haven't figured out what is breaking; If I do I'll also figure out a PR and submit same...

[2018-10-03 18:17] chanan commented on #19
Awesome! If not, I will try to get back to this in a few days.

[2018-10-15 20:51] Boglen opened #20 "BlazorButton don't allow to use async method while native button allow."
```<BlazorButton IsOutline="true" Color="Color.Primary" onclick="@CheckResults">Reply</BlazorButton>```
[code]
shows return type error

[2018-10-15 21:28] Boglen commented on #20
partial solution
`@(e => CheckReults(e))`

[2018-10-15 21:28] #20 closed

[2018-10-24 15:52] samartzidis opened #21 "StateHasChanged required for updates"
Hi,

Thanks for developing this library. I've got a small issue, in a simple scenario where the click of a BlazorButton updates the _itemList which is one-way bound to this block:

[code]

`<BlazorButton Color="Color.Primary" OnClick="@AddWord">Add</BlazorButton>`

[code]

Blazor does not seem able to automatically detect that the DOM needs updating and I have to stick in a StateHasChanged( ) call

[2018-11-10 10:49] romanoza opened #23 "How can you run the Sample project?"
It's a lame question probably but I can't run your project (Sample). Should I add the server part? (I'm new to Blazor)

[2018-11-16 16:38] chanan commented on #23
You shouldn't need to add anything. I will update this weekend to 0.7.0 and ensure the sample runs.

[2018-11-21 16:22] chanan opened #24 "Update to Blazor 0.7"

[2018-11-21 16:23] chanan opened #25 "Investigate using cascading values and parameters"

[2018-11-21 16:49] chanan commented on #23
I just tried running the sample V. 0.7.0 and didn't encounter any issues. What exactly are you seeing?

[2018-11-21 16:52] #24 closed

[2018-11-21 23:42] drewid opened #26 "Question - How to actually use BlazorStrap with a Blazor Site"
A dumb question most likely, but how do you actually use BlazorStrap with a Blazor site?

What are the steps for getting going?

[2018-11-25 00:48] drewid commented on #26
Getting the following error when running the Sample project in Visual Studio 2017 with the latest necessary to run Blazor - "No process is associated with this object".

Also, with just looking at the code, is not clicking how the bootstrap and blazor mix, when trying to use a bootsrap template

[2018-11-26 14:52] chanan commented on #26
@drewid I dont know what that error means. Are you using VS 2017 V 15.9.2 (release) and are you sure you have Blazor 0.7 installed?

The sample projects help show the usage as well as the docs: https://chanan.github.io/BlazorStrap/

The basics:

1. Start a new (client side, haven't tested with server side) Blazor project
2. Install from nuget the latest version of BlazorStrap: Install-Package Blaz

[2018-11-27 02:45] drewid commented on #26
Tried it in two projects - one I am getting the same error, the other I am getting:
`The name 'Color' does not exist in the current context` in the file index.cshtml and index.g.cs

[2018-11-28 15:30] chanan commented on #26
You are right I missed a step. In your view or in _ViewImports add:
[code]

Sorry about that.

[2018-11-29 07:42] simonpbond commented on #7
Hi all, any update on this or how to overcome it? I am also trying to implement similar functionality.
Is the only way through JS Interop?

[2018-11-29 20:12] grahamehorner opened #27 "Q: up for grabs"
I would love to help out with this project; it would be good to mark issues or items in backlog as 'up for grabs'

[2018-11-29 20:28] grahamehorner opened #28 "Bootstrap CSS"
The boot strap css files shouldn't be required in the site project; but added as a resource to the BlazorStrap project and injected into the pages via the interop typescript.

[2018-11-29 22:01] chanan commented on #27
@grahamehorner Feel free to grab anything right now, I have 2 other Blazor projects that I am havinig issues upgrading past 0.5.0 that I need to work on, so go for it! I would love help working on this!

[2018-11-30 11:54] grahamehorner commented on #27
@chanan cool more than happy to assist with this project, are there any issues or features that you would do as a priority?

[2018-11-30 13:09] Sire opened #29 "Links in tooltips are clickable when invisible"
When tooltip disappears, the invisible link is still clickable if you hover above its location.
Is there any better way of hiding the tooltips?

Reproduce with:

[code]

[2018-12-04 16:24] chanan commented on #27
@grahamehorner Go for what ever you like! :)

[2018-12-07 02:43] chanan opened #30 "Update DynamicElement to the latest guidance using BlazorComponent"

[2018-12-07 02:54] chanan commented on #30
Done will release shortly

[2018-12-07 02:54] #30 closed

[2018-12-07 02:59] chanan commented on #23
@romanoza Did you get it working? Can we close this?

[2018-12-07 03:00] chanan commented on #28
@grahamehorner Interesting idea, but I want to make sure that if the developer wants to provide his own bootstrap we will use that instead. The reason is that the developer might want to use a different bootstrap theme, like one of the free ones here: https://bootswatch.com/

Can we do this in a way that will support the default bootstrap and allow it to be overridden?

[2018-12-07 03:11] chanan commented on #13
I am not sure, but it seems to me that the bootstrap site might be "cheating" :)

Looking at: https://getbootstrap.com/docs/4.1/components/navs/ none of the links actually change the page and our markup is pretty much the same. Maybe they have a javascript on all links to disable them? So, I think what you get from disabled is just the style, but its up to you to disable the onclick event.

But, I

[2018-12-07 03:13] chanan commented on #19
@MarkStega Did you get this working?

[2018-12-07 03:16] chanan commented on #21
For now, you do need the `StateHasChanged` which is due to Blazor not BlazorStrap. This might have changed in Blazor V0.7 but I am not sure yet. Need to test it out :)

[2018-12-07 07:38] grahamehorner commented on #28
FYI
https://zellwk.com/blog/css-values-in-js/

[2018-12-07 12:20] MarkStega commented on #19
I never got it to work directly. I ended up setting a timer for a very short period in OnAfterRenderand have the timer fired method do the IsOpen.
Cheating for certain, but I had other things to implement...

[2018-12-07 14:35] grahamehorner commented on #28
I'd love to (in fact I've just started this ;) ) will do a PR for this soon

[2018-12-09 16:04] samartzidis commented on #21
@chanan Thank you.

[2018-12-09 16:04] #21 closed

[2018-12-10 17:05] richbryant opened #31 "I hate CSS..."
I'll post without actual hope but hey, you never know.

I am making a demo application using a whole lot of Blazor and associated bits including Fluxor, Db and especially BlazorStrap.  I have a licence for a template that hgas bits of what I want to do but I'm finding it impossible to replicate them in BlazorStrap.

Here's the image of the toolbar I am wrestling with
![toolbar_view](https://user-i

[2018-12-10 17:13] chanan commented on #31
I will give it a shot later today, did you start converting to BlazorStrap components yet?

[2018-12-10 17:16] richbryant commented on #31
Yeah, I did this bit but the columns within the toolbar are not right and god only knows how one gets a magnifying glass into a BlazoreStrap textbow.
[code]

[2018-12-10 17:17] chanan commented on #31
Ok, thanks, I will use that as a starting point.

[2018-12-10 17:51] richbryant commented on #31
No, all the thanks go to you.  I'm genuinely stuck.

[2018-12-10 19:44] chanan commented on #31
Can you paste the original CSS as text as well please? I would like to compare the two.

[2018-12-11 08:32] richbryant commented on #31
here's the custom CSS -

[code]

[2018-12-11 08:33] richbryant commented on #31
I'll try this as soon as my real work is over - thank you very much!

[2018-12-11 14:03] chanan commented on #31
@richbryant Thanks for the CSS, I will give it a shot today. One more thing to note other than what I already mentioned, is that it doesnt actually use nav bars, its a custom implementation, so what you will get in BlazorStrap won't be pretty...

[2018-12-12 15:15] chanan commented on #31
Ok, I think I took it as far as I can. It still doesnt look right, but the major reason for that is that I think the CSS you have is based on Bootstrap3, so I am not sure how to get it to look right in bootstrap4. The second sample is in /sample/navbars2

Things to note:
1. I added your css file to wwwroot/css/issue31.css
2. The two images I am using are a snip of your big image above, if you used

[2018-12-12 15:39] richbryant commented on #31
It's looking very, very close.  Thanks for this, I'll do some more work on it.  You've been a huge help.

[2018-12-29 16:59] chanan commented on #23
Global json in the sample project has:

[code]

[2019-01-09 13:51] toso06 opened #33 "Documentation site is broken"
The documentation site, https://chanan.github.io/BlazorStrap/ results in the following in Chrome console:

WASM: The assembly mscorlib.dll was not found or could not be loaded.
blazor.webassembly.js:1 WASM: It should have been installed in the `/mnt/jenkins/workspace/test-mono-mainline-wasm/label/ubuntu-1804-amd64/sdks/out/wasm-runtime-release/lib/mono/4.5/mscorlib.dll' directory.

[2019-01-10 21:44] toso06 commented on #33
Now it works again 👍

[2019-01-10 21:44] #33 closed

[2019-01-26 16:22] drmathias opened #34 "BlazorInput value binding doesn't work"
When using the BlazorInput tag you are unable to bind to the value.

[code]

[2019-02-05 09:26] chucker opened #35 "Compatibility with Blazor 0.8 (prerelease)"
Various namespaces and packages have changed, including:

* the package reference to `Microsoft.AspNetCore.Blazor.Browser` becomes `Microsoft.AspNetCore.Components.Browser`
* `BootstrapComponentBase` now needs to inherit from `ComponentBase` instead of `BlazorComponent`

[2019-02-05 21:17] chucker commented on #35
So I did some of the work and ran into https://github.com/aspnet/AspNetCore/issues/7159.

Specifically, `CarouselIndicators` cannot be used for now, because of this line:

[code]

The `@{}` syntax is currently broken. Opening that file will crash VS, and compiling while it's closed will cause the stacktrace in the above issue.

[2019-02-06 05:43] IvanJosipovic commented on #35
I was able to fix this issue by using @()
`<CarouselIndicatorItem IsActive="@(i == ActiveIndex)" Index="@i" bind-ActiveIndex="@ClickEventActiveIndex" />`

[2019-02-07 18:48] chanan commented on #35
@IvanJosipovic & @chucker you both submitted PRs for 0.8.0 (initial) support. I haven't had a chance to take a look yet (slammed at work sorry) - Are they both more or less the same?

[2019-02-08 01:28] IvanJosipovic commented on #35
It appears they are almost identical, apart from, mine has the CarouselIndicatorItem fix mentioned above.
I didn't realize there was another PR until I made mine, sorry!

[2019-02-08 06:05] chucker commented on #35
Mine doesn’t support CarouselIndicator due to the bug on Microsoft’s end (which incidentally has been fixed last night). Ivan put in a workaround. Other than that, I just skimmed the changes and the differences are marginal (though Ivan may be using async/Task more correctly than I am).

Shouldn’t matter much but I say go with Ivan’s and proceed from there. :)

[2019-02-12 15:51] chanan commented on #35
Merged, Release shortly.

[2019-02-12 15:51] #35 closed

[2019-02-12 15:53] chanan commented on #34
Merged #38 Release shortly

[2019-02-12 15:53] #34 closed

[2019-02-12 16:17] chanan opened #39 "Consider changing project structure to add Blazor server side"

[2019-02-12 16:18] chanan opened #40 "Upgrade to bootstrap 4.3"

[2019-02-14 14:37] LorenDorez commented on #13
@chanan Yes i found this one out myself when i started using BS4. on the demos they run a script to disable all empty links which makes the real world example of it not true. Maybe just remove the Href on Disable links? or use a JS routine to disable them. Either way i would atleast update the documentation to state this. Bootstrap is misleading as they only state it add a disabled _STYLE_ to the

[2019-02-14 14:45] chanan commented on #13
@LorenDorez Removing the href when disabled is true should be easy enough. I will try to get to that tonight.

[2019-02-14 15:03] LorenDorez commented on #13
@chanan thanks. No rush was just a suggestions so people dont have to wire up JS.

Just though of an issue with my suggestion. If they want to re-enable the link the href is now gone so maybe store in a temp. parameter, so it can be re-enabled? again just some ideas

[2019-02-14 15:05] LorenDorez commented on #13
@chanan No rush. i was just tying to help with some ideas  for solutions :) So since BS4 doesnt really handle this properly its not really a bug more of a Feature-Enhancement

[2019-02-27 09:15] dinhduongha opened #41 "BlazorInput two-way binding doesn't work"
When using the BlazorInput tag you are unable to use two-way binding to the value.
Change text and press submit.
[code]

[2019-03-08 12:05] chucker opened #42 "0.9 compat"
* `JSInterop.Current` is gone; we need to use injection instead.
* [EventCallback](https://github.com/aspnet/AspNetCore/issues/6351) also appears to break `BlazorButton`.

[2019-03-08 14:26] chanan commented on #42
I haven't look at it yet, but I fear the new jsruntime injection might be problematic, hopefully not...

[2019-03-08 14:29] chucker commented on #42
Possibly (since `BlazorStrapInterop` methods are currently static).

I've tried testing it, but now instead run into problems with `BlazorButton`, which appears to be because of a change to how `DynamicElement` behaves…

[2019-03-08 14:31] chanan commented on #42
Oh no... I use the same idea in another project quite extensively... ugh. Well, I now know what my weekend is going to be filled with.

[2019-03-08 14:50] chucker commented on #42
Yup, I've narrowed _that_ problem down to `DynamicElement`. If I leave that out of `BlazorButton`, I can get `onclick` working again.

And it looks like my JSInterop approach is fixed.

…but it also appears popover positioning is now broken. Will need to investigate that separately. And of course I broke the entire DynamicElement stuff.

[2019-03-08 14:51] chanan commented on #42
Sounds like fun...

[2019-03-08 15:26] chucker commented on #42
So the problem with `BlazorButton` (and possibly other similar stuff) is how the `onclick` attribute gets rendered.

On the browser end, I now see

[code]

Whereas before, the `onclick` attribute was missing from the DOM entirely. It appears to be an artifact of the move to `EventCallback` (instead of `Action`), and I'm not convinced this isn't also a bug on Blazor's end.

In the generated `.cs`,

[2019-03-08 15:44] chucker commented on #42
This might be just a side effect of `DynamicElement`, actually.

[2019-03-08 16:18] chucker commented on #42
Yup, popovers are fine.

Really quick and dirty fix to get `BlazorButton` working again:

[code]

I.e., there seems to be an overload resolution error here.

[2019-03-08 16:19] chanan commented on #42
That is awesome! Thanks for figuring that out!

[2019-03-08 16:27] chucker commented on #42
(I think I'll go file a bug with AspNetCore and see if they agree. I think they broke something about the overload resolution.)

[2019-03-11 15:38] chanan commented on #42
merged #43

[2019-03-11 15:38] #42 closed

[2019-03-13 05:00] jtmueller commented on #39
I guess it's now called Razor Components, which can be hosted either server-side in ASP.NET Core, or client-side in Blazor. I think working in both environments would be a valuable feature.

https://docs.microsoft.com/en-us/aspnet/core/razor-components/?view=aspnetcore-3.0

[2019-03-17 22:49] pjmagee commented on #39
I'm using RazorComponents at the moment and I'm using BlazorStrap. What needs to change?

[2019-03-17 22:51] pjmagee opened #44 "Consider Prefixing all Components"
With a mixture of things popping up on Intellisense, and the possibility of namespace collision, would it be worth prefixing all components, or is there a way to do this with the tagHelper import?

[2019-03-25 03:04] IvanJosipovic commented on #41
Change bind-Content to bind-Value.

Have a look at, https://github.com/chanan/BlazorStrap/blob/master/src/BlazorStrap/BlazorInput.cshtml
[Parameter] private string Value { get; set; }

[2019-04-08 11:28] chucker commented on #44
FWIW:

As I understand it, the tagHelper approach [will go away](https://github.com/aspnet/AspNetCore/issues/5577) in the next Blazor release, and to your point, one of the ToDo items is:

[2019-04-13 14:11] simbesh commented on #41
@IvanJosipovic I cannot get binding to work also. is `onchange=@onchange` missing from the attributes list to call the method?
When I created my own component I added that and it worked.

[2019-04-20 09:18] Hawxy opened #45 "Update to 3.0.0-preview4"
Upgrade instructions [here](https://devblogs.microsoft.com/aspnet/blazor-now-in-official-preview/) and changelog [here](https://github.com/aspnet/aspnetcore/issues?q=is%3Aissue+milestone%3A3.0.0-preview4+label%3Afeature-components+label%3A%223+-+Done%22+label%3Abug)

Thanks for your work.

Edit: I went ahead and did it in #46

[2019-04-22 13:48] chanan commented on #45
Thanks for the PR @Hawxy !

[2019-04-22 14:06] #40 closed

[2019-04-22 14:06] #45 closed

[2019-04-22 18:52] IvanJosipovic opened #47 "Installing 1.0.0-preview4 shows internal .razor files"
After installing BlazorStrap 1.0.0-preview4, I can see every BlazorStrap component in my projet.

![image](https://user-images.githubusercontent.com/9521987/56518564-a5ebc280-64f4-11e9-9199-0b0e2380a0ec.png)

Repro Steps

1. Create a new Blazor Client Side App

1. Install BlazorStrap 1.0.0-preview4

[2019-04-22 18:56] chanan commented on #47
I noticed that as well, I have no idea why that is yet

[2019-04-22 19:51] chanan commented on #47
Open an issue in the Aspnet repo: https://github.com/aspnet/AspNetCore/issues/9650

[2019-04-22 20:25] chanan commented on #47
A workaround is detailed here: https://github.com/aspnet/AspNetCore/issues/9577

[2019-04-22 20:25] #47 closed

[2019-04-24 20:22] razfriman opened #49 "BlazorForm and onsubmit not working"
Am i doing something wrong here? my `OnSubmit` handler is never called

[code]

Generated html:
[code]

---

Workaround:
`<form novalidate onsubmit="@Save" class="form">`

Instead of
`<BlazorForm OnSubmit="@Save">`

[2019-04-24 20:24] chanan commented on #49
That might be due to the new EventCallback that was added since BlazorStrap was written, I will check it out tonight.

[2019-04-24 20:26] razfriman commented on #49
Updated with a workaround for now - thanks for the quick response!

[2019-04-24 21:11] razfriman commented on #41
Can confirm this is not functioning properly.
Here is my usage.

Tried various combinations of bind, value, etc.

One way binding works, but unfortunately until I can get two way data binding working I cannot start to use this library in my project :(

[code]

[2019-04-24 21:14] chanan commented on #41
bind-value should work, I will take a look at this when I look at the other issue with form tonight.

[2019-04-24 21:20] chanan opened #50 "Integrate with EditForm component and validation"

[2019-04-24 22:15] chanan commented on #49
I looked into this and can't figure out why it won't work.

One thing that I can try it creating the tag as a class instead of a razor component, but that will take more time.

[2019-04-24 22:16] chanan commented on #41
The code looks right to me based on the docs: https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#data-binding Not sure what is wrong.

[2019-04-24 22:20] #49 closed

[2019-04-24 22:27] chanan commented on #41
Tried adding:

[code]

Didnt help either

[2019-04-24 22:53] chanan commented on #41
I tracked down the problem, but not sure how to solve yet. The issue is that DynamicElement isn't updating value, it most likely need to build an on change event.

[2019-04-24 23:03] razfriman commented on #41
Nice! I'll keep looking into it when I have some time.. So far I have reproduced it in my branch to the point where `BlazorInput` acts as 1-way, and normal `input` successfully works as two-way: feel free to check out my branch where I was exploring it:

https://github.com/razfriman/BlazorStrap/pull/1

[2019-04-24 23:16] chanan commented on #41
I got basic two way binding support working:

1. Works on strings in BlazorInput, not sure checkboxs will work or select
2. Seems to update when the form is submitted only

Creating a new build now, I also add /samples/form with a working example.

[2019-04-25 05:18] razfriman commented on #41
Have you had a look at this? This is the implmentation for Blazor's EditForm Input element variants? Might be a good example to follow?

https://github.com/aspnet/AspNetCore/blob/master/src/Components/Components/src/Forms/InputComponents/InputText.cs

[2019-04-28 04:26] razfriman opened #53 "button ListGroupItem uses 'submit' button type by default"
`ListGroupItem` with `ListGroupType="ListGroupType.Button"` needs to set button type to `button`, by default it acts as a submit button, and submits the current form.

---

Reproduction:

When the `ListGroupItem` is clicked:
1.`myWorkingClickHandler` will get called
2. `Save` will also get called

[code]

---

Solution:

Add `type="button"` on the generated HTML for `   <ListGroupItem ListGroupTyp

[2019-04-30 20:06] BlackFenix2 commented on #25
This can work really well with Toasts, Cards and Modals. i can make a PR for Toasts and work from there.

[2019-04-30 20:08] chanan commented on #25
Please do!Most of the time i had to work on this lately has been going towards what to do with forms and inputs

[2019-05-01 13:09] chanan commented on #41
I am considering changing either just the form/input control or all controls to be actual C# classes instead of razor files (which have a backing C# class anyway). At the same time also take some cues from EditForm control. Any thoughts about this?

[2019-05-02 19:17] nic0l45 commented on #26
CS0433	The type 'IWebAssemblyHostBuilder' exists in both 'Microsoft.AspNetCore.Blazor.Browser, Version=0.7.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' and 'Microsoft.AspNetCore.Blazor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'	MercuryRepRH.Client

I have this error, when i build my solution, using Blazor 3.0.0-preview4-19216-03

[2019-05-02 19:20] chanan commented on #26
It seems like the error is saying that the solution still have Blazor V7 in it, I will recheck BlazorStrap but I don't think its coming from there, can you check your solution and any Blazor deps you might have to see if it comes from somewhere else?

[2019-05-02 19:31] nic0l45 commented on #26
I''ll check, thank you.

[2019-05-03 12:16] chucker commented on #41
I mean… the linked page does say "Developers building their own input components should use Razor syntax." ;-)

[2019-05-08 15:32] nic0l45 commented on #26
![image](https://user-images.githubusercontent.com/48603062/57387655-bc487e00-7184-11e9-9365-15e1a81e0135.png)

Hi i have this error too, the first one that i reported was solved, but when i try to add the tag helper to the _Imports.razor page happens this. Thanks in advance.

[2019-05-08 15:58] chucker commented on #26
Starting with ASP.NET Core 3.0 Preview 4, you don’t use a tag helper any more. Just import the namespace.

[2019-05-08 16:12] nic0l45 commented on #26
![image](https://user-images.githubusercontent.com/48603062/57390490-7a223b00-718a-11e9-8851-65f8002d0190.png)

I have this now.

[2019-05-26 21:06] chucker commented on #44
Relevant: https://github.com/aspnet/AspNetCore/issues/9860

[2019-05-26 21:11] chanan commented on #44
Re Button versus button - that's the way it is in React. Also you can do the using Foo = Bar.

It would be awesome if Blazor had both those. That's why I am not doing anything on this issue yet, till we see where the chips fall. It looks like the issue you linked should fix some of this.

[2019-05-28 21:04] BlackFenix2 commented on #53
I can use my forked branch and submit another PR.

[2019-05-28 22:48] BlackFenix2 commented on #53
i submitted a PR, https://github.com/chanan/BlazorStrap/pull/55

hopefully this helps.

[2019-05-29 01:17] chanan commented on #53
Thanks @BlackFenix2 !

[2019-05-29 01:17] #53 closed

[2019-05-29 13:25] BlackFenix2 commented on #7
We might of passively resolved since Blazor updated from experimental to preview. I will double-check my fork and see if i can replicate the problem.

[2019-06-05 08:57] zwei222 commented on #26
Your BlazorStrap is ver.0.7.1?
The solution is to install the preview version. I solved it with that.

[2019-06-05 13:16] chucker commented on #44
Steve just answered this.

So, IMHO, we should go forward with instead prefixing _none_ of the components and relying entirely on namespaces.

[2019-06-05 14:37] chanan commented on #44
That's awesome! I was hoping for that solution - like React.

When its released, I will rename all components back to their "real" names.

[2019-06-05 14:48] chanan commented on #44
Not 100% related by the syntax for a dictionary of attributes is going to change as well: https://github.com/aspnet/AspNetCore/issues/5071 So hopefully I can do both at the same time (That is internal to the library and shouldnt change the user facing API)

[2019-06-06 15:43] tsmccartan opened #56 "Do events work on any controls?"
I have events on Button Click, but appears they don't fire anymore with BlazorStrap?  I did see on the home page, Events were not working, but I wanted to confirm, as I see an example onClick in the BlazorButton Sample Page?

Below used to work, but now is not being fired.  Where iRoleIndex is just a Row in a BootStrap table.  AddEditClaim is the Function I have in Code Behind.

onclick="@(e => Ad

[2019-06-06 16:20] chanan commented on #56
They *should* work - I think if you check the sample site you will see buttons that write to the console.

Having said that, In a recent update of Blazor, events have been changed to use: <code>EventCallback</code> and I have not had a chance to go change all events to use that yet. It seemed to me there were still working the old way using <code>Action</code>, if that is wrong I will try to do th

[2019-06-06 16:33] tsmccartan commented on #56
Thanks, I did manage to get it to work, apparently you need to add the Event Args for Mouse it it?

onclick="@(e => AddEditRole(e, RoleID))"

Signature for Method in Code Behind
public void AddEditClaim(UIMouseEventArgs e, int iRoleID)

I am not sure why I need to pass in UIMouseEventArgs to every method now?  Standard Bootstrap Buttons and Events I did not need to.

Anyway, no worries, it works g

[2019-06-06 18:52] chanan commented on #56
Thanks for the update.

I tried just <code>Action</code> without <code>Action<UIMouseEventArgs></code> and it didnt work. Also, <code>EventCallback</code> is the same. So it looks like that is the only way to go.

[2019-06-06 18:52] #56 closed

[2019-06-13 00:28] IvanJosipovic opened #58 "Support Blazor Preview 6"
Preview 6 added quite a few breaking changes.

Blog: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-13 21:23] chucker commented on #58
This is a bit tricky and messy.

* There's a lot of copy & paste-style syntax changes. Easy to get some of this wrong, especially since BlazorStrap has code samples, which _also_ need replacing.
* Some of the syntax will actually change even further later on. In preview 6, you need to write `@onclick="@Clicked"` instead of `onclick="@Clicked"` (and we _must_ change that). But in future previews, i

[2019-06-13 21:26] chanan commented on #58
@chucker I started for a simpler Blazor project I have which is just a logger wrapper that I use in BlazorDB last night. Once that is done, I will start on BlazorStrap. It didnt seem too bad, Search & Replace got most of it.

[2019-06-13 22:22] chucker commented on #41
Can we separate that discussion into its own issue?

Not sure if I broke that, but this fails on load with:

    blazor.webassembly.js:1 WASM:
    System.ArgumentException: Object of type
    'Microsoft.AspNetCore.Components.EventCallback`1[Microsoft.AspNetCore.Components.UIEventArgs]'
    cannot be converted to type 'Microsoft.AspNetCore.Components.EventCallback'.

[2019-06-13 22:27] chanan commented on #41
About the binding - I wont want to do anything till 1.0 is final - lets talk about it again at that time?

About the error - I will take a look tonight, but I was also wondering if this is still needed:  https://github.com/chanan/BlazorStrap/blob/master/src/BlazorStrap/DynamicElement.cs#L90-L131

[2019-06-13 23:10] chucker commented on #41
Oh, interesting. They closed https://github.com/aspnet/AspNetCore/pull/10357.

On the one hand, that's great — I considered that piece of code a hack. :)

On the other hand, I fear we found the reason for my error above.

[2019-06-13 23:37] #58 closed

[2019-06-14 17:43] chanan opened #60 "Upgrade to preview6"
This is in progress but ran into a few issues regarding events.

[2019-06-17 13:00] xJonathanLEI opened #62 "Most Controls Won't Work on iOS Devices"
It seems that the `onclick` event won't be fired on iOS devices when the rendered `<a>` tag doesn't have a `href` prop. Most controls (pagination, tabs, etc...) are broken.

Adding `href="javascript:;"` to `<a>` would solve the issue. I might as well submit a PR.

[2019-06-17 21:34] rpskelton2 commented on #41
From looking at documentation and samples it appears the razor.g.cs file should contain onchange statements like below.  I'm not any in mine and two way binding is not working on any of my samples.

builder.AddAttribute(5, "onchange", Microsoft.AspNetCore.Components.EventCallback.Factory.CreateBinder(this, __value => Title = __value, Title));

[2019-06-17 23:19] chanan commented on #41
Having some issues upgrading to preview6, I will take another look at this once that is done

[2019-06-18 18:02] chanan commented on #60
https://github.com/aspnet/AspNetCore/issues/11337

[2019-06-18 18:03] chanan commented on #62
Thanks for letting me know. I will fix this after I manage to finally upgrade to preview 6.

[2019-06-18 18:19] chanan commented on #60
Found the issue, will have a new build out tonight (if no other problems arise)!

[2019-06-18 19:34] rpskelton2 commented on #41
It seems the syntax for binding has changed.  Most examples found on line look like this and do not work:
    <input type="text" bind="@Name" />

The new syntax with @bind seems ok:
    <input type="text" @bind="Name" />

This commit on May 30 changed the syntax:
https://github.com/aspnet/AspNetCore/commit/dd07fa09d2895bba3231d9e433da1a4671630512#diff-438bb5dff82affac680fa750d6535658

[2019-06-19 21:32] chanan commented on #60
Done!

[2019-06-19 21:32] #60 closed

[2019-06-19 21:43] chucker commented on #41
Yes, that's correct. In preview 6, you're actually supposed to use `@bind="@Name"`. They're hoping to eventually shorten that to `@bind="Name"`. But `bind` without the @ is no longer correct — attributes _without_ the `@` are now HTML, and attributes _with_ it C#.

[2019-06-20 02:24] IvanJosipovic opened #64 "Migrate from Action to EventCallback"
The new guidance is to use EventCallback instead of Action.
See for more details https://github.com/aspnet/AspNetCore/issues/6351

Since Preview 6, the use of Action is also causing the following errors to show up:
[code]

[2019-06-20 02:49] chanan commented on #64
I did change some of them on migration, but didnt do a search on the full project. Doing the rest now.

[2019-06-20 02:57] IvanJosipovic commented on #64
I just sent a PR which covers most of the migration.

Not complete:
CarouselIndicators.razor
Modal.razor

Both of these trigger the event within a setter, I can't seem to get this to work with EventCallBack as its async.

[2019-06-20 03:45] chanan commented on #64
Fixed those two as well. Will create a new build soon, have a few other fixes to do. Thanks for the PR!

[2019-06-20 03:45] #64 closed

[2019-06-20 13:48] chanan commented on #41
I updated the syntax in v1.0.0-preview6-10 please let me know what you think

[2019-06-20 14:14] chanan opened #66 "Model IsOpenChanged is not triggered"

[2019-06-22 02:04] #66 closed

[2019-06-26 01:30] IvanJosipovic opened #69 "Modal @bind-IsOpen lockup"
Binding to Modal IsOpen causes Client Side Blazor to lock up.

Blazor: 3.0.0-preview6.19307.2
BlazorStrap: 1.0.0-preview6-12

### Repro
Click on the Show Modal button. Blazor will freeze

[code]

[2019-06-26 13:01] chanan commented on #69
Weird. Something to do with the binding syntax maybe? I will take a look tonight

[2019-06-26 21:44] IvanJosipovic commented on #69
This is caused by the InvokeAsync in the Model.razor setter. Not sure why or how to fix it yet.
[code]

[2019-06-26 21:57] chanan commented on #69
not sure why, even though sync/async mixes.

But, one thing i might try to see if it works is to try to represent the IsOpen in SetParametersAsync instead of a property and at least see if that is the reason

[2019-06-26 22:01] IvanJosipovic commented on #69
I figured it out. I guess its running in an infinite loop. PR incoming.

Fix:
[code]

[2019-06-27 13:10] #69 closed

[2019-06-27 13:37] chanan opened #72 "Better way to contribute to BlazorStrap"
I am opening this issue to solicit suggestions from people that contribute to BlazorStrap. First, many thanks to everyone that contributes to BlazorStrap and I glad to have this problem!

Merging PRs to master is becoming painful. Today, I had the "pleasure" for the first time to see Github's web merge resolver and I never want to see that again... I *think* that to get around that we need to star

[2019-06-27 14:14] chanan commented on #72
So I think part of the problem was that I didnt have the Github extension for VS installed. Might be easier now

[2019-06-27 14:16] Hawxy commented on #72
I took a quick look at the PR you ran into trouble with, and I don't think the issue has anything to do with pointing towards master. You're gonna have to deal with the merge conflicts at one stage or another regardless of branch.

The simple solution is just to make it the pull requester's responsibility to keep the PR up to the date with the upstream master, and ping them to rebase it if needed.

[2019-06-27 14:32] chucker commented on #72
We definitely have a few conflicting concerns here:

1. **Framework changes**: Blazor itself is in early stages. It's not as rocky as last year, but almost every single release has required changes to libraries, including BlazorStrap. As a result, a significant portion of issues and/or pull requests is in fact nothing but "upgrade the project to work with the latest Blazor preview". I estimate thi

[2019-06-27 14:44] chanan commented on #72
@chucker Good idea on the roadmap. I will take a look again at the source - reactstrap and see if we have feature parity (its close but not quite). I have also been using react-bootstrap lately (https://react-bootstrap.github.io/) which is the same but some things are implemented differently to see if there are some good ideas there. Lastly, I would like to add or change forms and inputs to use th

[2019-06-28 21:25] EMaderbacher opened #73 "Suggestion: Reduce size of rendered HTML-elements"
To reduce amount of data sent to Brower in created HTML-Elements are a lot of attributes which shouldn't be rendered when they've default values.
For example
[code]
contains several attributes which aren't needed / shouldn't be rendered.
Blazor itself is also not rendering such attributes, see https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#razor-support at topic

[2019-07-02 15:49] chanan commented on #73
Yes, these are good suggestions.

For the class name, I am considering redoing how they are generated and using a C# class to generate them (and at the same time clean up the output). Either directly using: https://github.com/EdCharbeneau/CssBuilder or similar to it.

Is that something you want to contribute?

[2019-07-02 16:01] chanan opened #74 "Fixes for SSB"
content folder needs to be renamed to wwwroot

Add documentation

[2019-07-03 04:46] chanan opened #75 "Update BlazorPrettyCode and remove the snippets folder"

[2019-07-03 06:34] EMaderbacher commented on #73
Hi chanan,

for the classname I was thinking about a simpler solution.
For getting the classname you've for example in BlazorInput currently:
[code]
I suggest here just a minor modification:
[code]
The extension method ```RemoveUnneededSpaces``` will remove all unneeded Space-Characters from return value.
How do you think about that?

Attributes with default values:
The fastest solution is to chan

[2019-07-03 15:18] chanan commented on #73
Go for it!

[2019-07-03 20:01] peterblazejewicz commented on #29
The representation of the tooltip is recreated in BS and destroyed when tooltip is no longer active.
Let me fix this via custom css rule

[2019-07-03 20:44] peterblazejewicz commented on #13
The BS 4 ships with rule that disables interaction when `.disabled` class has been added. So this should trap the events.
The specs are lacking inert state for interactive `a` tag used in nav bar links:
https://github.com/whatwg/html/pull/4288

[2019-07-03 20:46] peterblazejewicz commented on #15
@chanan
I've added more propert css as part of #29

[2019-07-03 21:36] peterblazejewicz commented on #29
This can be probably properly fixed that way:

[code]
Let me know if this is OK,
thanks!

[2019-07-04 06:12] desalbres opened #77 "ItemsPerPage property on Carousel"
Hello,

Could you add a ItemsPerPage or similar property on Carousel ? Because I need to display more than an item at a time. It would be really cool!

By the way, BlazorStrap are reallly great components, good job !

Many thanks,

Raphaël

[2019-07-04 13:58] digitalgym opened #79 "Dynamic tabs on click stops working"
when generating a tab menu via a loop the events specifically on click stop firing. I haven’t seen an example using tabs and tab pane generated dynamically, has anyone else experienced this?

[2019-07-04 14:27] chanan opened #80 "Rework class string creation"
Either directly using: https://github.com/EdCharbeneau/CssBuilder or similar to it.

[2019-07-04 14:28] chanan commented on #79
Can you give a code example please?

[2019-07-04 14:32] chanan commented on #77
I dont think that would be possible. Ultimately BlazorStrap is creating divs with bootstrap class on them, so a Carousel with item becomes this (https://getbootstrap.com/docs/4.3/components/carousel/):

[code]
more divs with `div class="carousel-item"` will just become more items.

However, the items are just divs as you see above, can you not put the content of more "items" into one?

[2019-07-04 14:33] chucker commented on #80
I feel like Ed's CssBuilder is still a bit primitive (it doesn't _really_ understand classes in terms of tokens), but quite a step up over what we have now.

[2019-07-04 14:34] chanan commented on #62
Sorry for the delay on implementing this. I took a look at it and wasn't sure where all the places that would need to be changed and how to tackle it. I will get this done though.

[2019-07-04 14:35] #31 closed

[2019-07-04 14:36] chanan commented on #29
@peterblazejewicz Thanks! Do you want to submit a PR for this, or do you want me to integrate it?

[2019-07-04 14:40] chanan commented on #28
embedding CSS assets is possible now in Blazor. Will add the CSS in the next release with documentation that it can be used from the library or an external bootstrap css can be used (from a CDN for example or if a themed bootstrap is wanted)

Also should consider embedding bootswatch?
And if so, create a themeswitcher?

[2019-07-04 14:41] chanan commented on #27
Closing this now, but please everyone submit PRs :)

[2019-07-04 14:41] #27 closed

[2019-07-04 14:41] chanan commented on #26
Closing this now, but please feel free to ask anymore questions.

[2019-07-04 14:41] #26 closed

[2019-07-04 14:43] chanan commented on #80
To be honest, didn't look at it yet, just put the link here so I don't forget where it is.

Creating our own shouldn't be too hard and I prefer not to rely on too many outside libraries if possible in case of upgrades/bugs etc.

[2019-07-04 14:49] aherrick opened #81 "Prevent Modal from closing when clicking outside or escape"
Can this be a first class option? I want the modal to be always there until a user cancels or clicks ok.

https://www.tutorialrepublic.com/faq/how-to-prevent-bootstrap-modal-from-closing-when-clicking-outside.php

[2019-07-04 14:49] chanan commented on #41
Current status:

Per current documentation (preview6) BlazorIntput has:

[code]

Which seems to work more or less ok (I think there are still some issues). I am hesitant to change more for two reasons:

1. more changes to Blazor might change how binding works. Specifically for BlazorStrap, Blazor will be adding splat operator which will likely mean we won't need `BootstrapComponentBase` anymore wh

[2019-07-04 15:00] chanan opened #82 "Modal OnAfterRender should be OnAfterRenderAsync"

[2019-07-04 15:04] chanan commented on #81
Well the good news is, I never got Esc key working...

Using the code from the link above won't work out of the box as it is calling bootstrap js which is not used by BlazorStrap. However, what we can do, is to run the code from that link and see what it actually does, then translate that to what we need to do to provide the same functionality.

If you are interested in doing that and submitting a

[2019-07-04 15:29] chanan commented on #82
Done

[2019-07-04 15:29] #82 closed

[2019-07-04 15:38] chanan commented on #81
Ignore that, I am adding that in the release that is going out shortly

[2019-07-04 15:46] chanan commented on #81
Added in 1.0.0-preview6-14

[2019-07-04 15:46] #81 closed

[2019-07-04 15:47] chanan commented on #73
Done by @EMaderbacher in PR: #78

Released in 1.0.0-preview6-14

[2019-07-04 15:47] #73 closed

[2019-07-04 15:48] chanan commented on #72
Going to close this.
Will provide mentioned roadmap.
Call out still for anyone that wants to help maintain BlazorStrap!

[2019-07-04 15:48] #72 closed

[2019-07-04 15:50] #23 closed

[2019-07-04 15:51] chanan commented on #39
Closing this as I duplicated it in #74 which I am about to fix and include a minimal SSB sample

[2019-07-04 15:51] #39 closed

[2019-07-04 16:09] chanan commented on #74
Add in 1.0.0-preview6-14

[2019-07-04 16:09] #74 closed

[2019-07-04 19:46] desalbres commented on #77
Hello Chanan,
Thanks for your reply, I will test your solution ASAP !!!

________________________________
De : Chanan Braunstein <notifications@github.com>
Envoyé : Thursday, July 4, 2019 4:32:30 PM
À : chanan/BlazorStrap
Cc : Raphaël Desalbres; Author
Objet : Re: [chanan/BlazorStrap] ItemsPerPage property on Carousel (#77)

I dont think that would be possible. Ultimately BlazorStrap is creating d

[2019-07-04 20:39] peterblazejewicz commented on #29
sure, will close the other one, and create new one with above changes.

[2019-07-04 21:25] chanan commented on #29
Fixed by @peterblazejewicz in 1.0.0-preview6-15

[2019-07-04 21:25] #29 closed

[2019-07-05 09:15] desalbres commented on #77
Hello,
If there's someone interested, I ended up using that code:
@if (selOptions != null)
    {
    <Carousel NumberOfItems="TotalItems" @bind-ActiveIndex="@ActiveIndex" PauseOnHover="true">
        <div class="carousel-inner">
            @for (int i = 0; i <= selOptions.Count() / PAGE_SIZE; i++)
            {
            <div class="carousel-item @(ActiveIndex==i ? "active":"")">

[2019-07-05 09:16] desalbres commented on #77
Hello,
If there's someone interested, I ended up using that code:
@if (selOptions != null)
    {
    <Carousel NumberOfItems="TotalItems" @bind-ActiveIndex="@ActiveIndex" PauseOnHover="true">
        <div class="carousel-inner">
            @for (int i = 0; i <= selOptions.Count() / PAGE_SIZE; i++)
            {
            <div class="carousel-item @(ActiveIndex==i ? "active":"")">

[2019-07-05 09:20] jbomhold3 commented on #7
Most of this enchantment has already been addressed. I'll add the escape key binding in a pr tomarrow

[2019-07-05 13:07] chanan commented on #77
Thanks, glad it worked out for you! Please let me know if you have any more questions, closing this specific issue now.

[2019-07-05 13:07] #77 closed

[2019-07-05 14:10] chanan commented on #81
@jbomhold3 fixed closing a modal using the Escape key and added IgnoreEscape param in 1.0.0-preview6-15

[2019-07-05 14:12] chanan commented on #7
A fix by @jbomhold3 now lets dropdowns close on Escape key in 1.0.0-preview6-15

[2019-07-05 14:12] jbomhold3 opened #85 "Do we want to add @Ref style Show/Hide/Toggle for all components that toggle"
Collapse, Dropdowns, Navbar, Popovers

[2019-07-05 14:13] chanan commented on #85
Yes. The style does look useful

[2019-07-05 14:25] chanan commented on #75
BlazorPrettyCode is now updated, just need to change all the PrettyCode tags now and delete the snippets folder

[2019-07-05 17:27] jbomhold3 commented on #7
Might be able to do this via a simple lost focus on the parent so downtown or navitem

[2019-07-05 17:35] jbomhold3 commented on #7
Blazor supports onfocusout now. This will be easy to address

[2019-07-06 07:43] digitalgym commented on #79
An example would be a list of categories, each category relates to a tab and a corresponding tab panel, each tab has an onclick event. When this renders the tabs lose their click event. When tabs are added through markup they work as expected, the issue seems directly related to tabs created dynamically.

` <BlazorNav IsTabs>
        @foreach (var c in categories)
        {
            <BlazorNavL

[2019-07-06 15:00] chanan commented on #79
Thanks for the Repro. I will take a look at it this weekend

[2019-07-06 15:35] chanan commented on #85
Added /toggles documentation page, please check it out for accuracy.

Released in 1.0.0-preview6-17

[2019-07-06 15:35] #85 closed

[2019-07-06 20:44] 1mpetuous opened #87 "Whitespace in sample"
I'm a complete beginner at Blazor / ASP, but I was only able to compile the example source code after removing whitespace in the "@using BlazorStrap.util" so the @implements IDisposable could be parsed in Carousel.razor.  Just wanted to mention this in case it was unintentional.

[2019-07-07 08:25] jbomhold3 commented on #87
Blazorstrap project carousel.razor line 3

[2019-07-07 11:33] endeffects opened #88 "Input Patterns missing?"
Do your input controls support regex patterns to disallow entering not matching characters?

[2019-07-07 12:46] endeffects opened #89 "InvalidOperationException: Id must be used with Drop Down Manager"
I added your navigation control today, but i'm receiving an error when i click more than one link:

[code]

![image](https://user-images.githubusercontent.com/13432569/60768498-143c2c00-a0c5-11e9-946f-bd55f069a4b4.png)

Also i'd like to know what is the best practice to have a category based navigation without dropdown menus.

[2019-07-07 14:21] endeffects opened #90 "FormGroups of Child-Components losing it's style"
I have a form where i have to add some child components with additional FormGroups:

**Parent Component**

[code]

**Child Component**

[code]

Without child component:

![image](https://user-images.githubusercontent.com/13432569/60769686-2ae97f80-a0d3-11e9-94fa-682985c38bb9.png)

With child component it's inlined and width is reduced:

![image](https://user-images.githubusercontent.com/13432569/6

[2019-07-07 17:35] jbomhold3 commented on #90
Attempted to repro and can't.  Can you please show outputted HTML.

[2019-07-07 17:38] jbomhold3 commented on #89
Confirmed and addressing

[2019-07-07 17:42] jbomhold3 commented on #89
Fixed with https://github.com/chanan/BlazorStrap/pull/91

[2019-07-07 17:45] jbomhold3 commented on #87
Fixed with https://github.com/chanan/BlazorStrap/pull/91

[2019-07-08 02:31] chanan commented on #88
Can you explain exactly what you are looking for? It sounds like that this might be something outside of scope of BlazorStrap. I think what you want to do is create your own component that wraps a BlazorStrap Input something like this (pseudo code):

[code]

Is that what you mean?

If so, then like I said, I dont BlazorStrap should supply that (having said that, if you supply a PR...

However, jus

[2019-07-08 02:36] chanan opened #92 "People are using BlazorStrap!"
People are actually using BlazorStrap in the wild! Does anyone want a page on the documentation site (or the readme) linking their projects?

[2019-07-08 02:43] chanan commented on #89
Fixed in 1.0.0-preview6-18

[2019-07-08 02:43] #89 closed

[2019-07-08 02:43] chanan commented on #87
Fixed in 1.0.0-preview6-18

[2019-07-08 02:43] #87 closed

[2019-07-08 02:54] chanan commented on #80
After some thought, I am going to try and use Ed's CssBuilder for now. I would like to try and use it and if find anything that is missing send PRs and help the community in general. If worse comes to worse, we can always replace it.

[2019-07-08 03:45] chanan opened #93 "Button ClickHandler doesn't work in SSB"

[2019-07-08 03:45] chanan commented on #93
In SSB mode, OnClick for BlazorButton doesn't work

[2019-07-08 17:29] endeffects commented on #90
Thanks for your investigation. I was preparing the example and noticed that this seems to work. I'm going to check my implementation to find the bug.

[2019-07-08 17:53] endeffects commented on #88
No, i was talking about this standard pattern option for input controls:
https://www.w3schools.com/tags/att_input_pattern.asp

[2019-07-08 17:57] endeffects commented on #88
But this works on your controls too, i just used the wrong input type on my button. It has to be submit. Sorry.

[2019-07-08 17:57] #88 closed

[2019-07-08 19:18] jbomhold3 commented on #93
preview 7 anyone? it's getting confusing to debug things. a space matters on one person pc and not other and OnClick vs onclick matters to some and not others. fun fun

[2019-07-09 04:00] digitalgym commented on #79
Any idea what is causing this? There doesn't seem to be anything obvious and the NavLink component is very basic.

[2019-07-09 08:35] endeffects commented on #90
I found the bug, it was a hidden binding exception on my side.

[2019-07-09 08:35] #90 closed

[2019-07-09 09:31] endeffects opened #95 "DropdownItem Link seems not to work"
I tried to use your Navbar Component today and used it as follow,
but the href link of the DropdownItem is not called when i click on it.

[code]

[2019-07-09 10:19] endeffects opened #96 "Navbar does not overlay"
I'm using your navbar control and a jumbotron, on the original bootstrap page the navbar overlays the jumbotron, with your control is does not. I think this should be the default behavior.

**Bootstrap Sample**
https://getbootstrap.com/docs/4.3/examples/jumbotron/#

![image](https://user-images.githubusercontent.com/13432569/60880144-53908700-a243-11e9-8a18-5d081f1f9b1b.png)

**BlazorStrap**

![im

[2019-07-09 10:35] #96 closed

[2019-07-09 11:02] endeffects opened #97 "Navbar "inverted" Text Color"
When i set the Navbar Color to Dark, should the Text Color not be adjusted automatically?
Or do i have to override this with css?

`<Navbar IsExpand="true" IsFixedTop="true" Color="Color.Dark" class="navbar-expand-md">`

[2019-07-09 11:41] chucker commented on #97
Judging from the code, it seems you need to additionally set `IsDark="true"`.

IMHO, we should change the setter such that if Color == Color.Dark, IsDark automatically gets set to true. (The reverse doesn't hold, though: [you should be able to combine Dark with e.g. Primary](https://getbootstrap.com/docs/4.3/components/navbar/#color-schemes).)

[2019-07-09 11:46] endeffects commented on #97
Thanks alot, is there any overview for all this switches?

[2019-07-09 11:49] endeffects commented on #97
By the way, this Flag does not effect the DropDownToggles. The Text Color is still dark.

[code]

[2019-07-09 11:49] chucker commented on #97
I don't believe so. I looked at the source code for [Navbar](https://github.com/chanan/BlazorStrap/blob/master/src/BlazorStrap/Navbar.razor).

[2019-07-09 13:11] endeffects commented on #97
Using the suggested styling on the navbar directly also does not fix the dropdown boxes

`<Navbar IsExpand="true" IsFixedTop="true" class="navbar-expand-md navbar-dark bg-dark">`

![image](https://user-images.githubusercontent.com/13432569/60890598-e3422f80-a25b-11e9-8b60-ee18aa801f54.png)

[2019-07-09 13:51] chanan commented on #97
I will re-check the source project (react-strap) and see if I missed something

[2019-07-09 13:51] chanan commented on #95
I will look into it tonight or tomorrow

[2019-07-09 13:53] chanan commented on #93
@jbomhold3 Are you saying that you looked into it and its due to casing of onclick? I haven't had a chance to look into this yet, I am in the middle of refactoring the class string (#80 )

[2019-07-09 14:00] jbomhold3 commented on #93
I can't repo it works just fine for me. Only thing I'm seeing is its all lower case but called like OnClick..  might be where your running into a issue.

[2019-07-09 14:01] chanan commented on #93
Thanks for checking. Its maddening that Blazor works differently on different places... I hope it settles down soon.

[2019-07-09 16:44] jbomhold3 opened #98 "DynamicElement"
Can you split DynamicElement into its own project. Would like to use it on other projects i'm working on.   Then BlazostrapComponentBase becomes DynamicComponentBase

[2019-07-09 16:46] chanan commented on #98
Yes, although, I was trying to figure out if it is even useful going forward if in preview7 they add "splat"?

But if you want it, I will do it right after I finish the refactor to use CssBuilder (almost done)

[2019-07-09 16:50] jbomhold3 commented on #98
Didn't see they were doing that. In that case i wouldn't do the extra work. I can just copy and paste it for now. We are far to close to p7

[2019-07-09 16:52] chanan commented on #98
I will leave this open in case we want to revisit this after we see preview7

Here is the aspnet issue: https://github.com/aspnet/AspNetCore/issues/5071

[2019-07-09 16:52] jbomhold3 commented on #98
Got to love when github refreshes slow

[2019-07-09 17:35] howardgod opened #99 "Where can I get the necessary js files for server-side blazor project"
I follow the document to _Host.cshtml, and there're three necessary JS files. However, I can only find blazorStrap.js within BlazorStrap\wwwroot\.

So did I misunderstand the document? Or there's a release package include those js files?

BTW, what's the "_content/" means in <script src="_content/BlazorStrap/blazorStrap.js"></script> for example.

Thank you,

Howard

[2019-07-09 17:37] chanan commented on #99
Everything is included.

You should only need to change your `_Host.cshtml` like the Sample project: https://github.com/chanan/BlazorStrap/blob/master/src/ServerSideSample/Pages/_Host.cshtml#L29-L30

[2019-07-09 17:45] howardgod commented on #99
So does the "_content" keyword somehow link to the BlazorStrap.dll?

[2019-07-09 17:49] chanan commented on #99
Yes, that is correct. See here: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.0&tabs=visual-studio#create-an-rcl-with-static-assets

[2019-07-09 17:51] howardgod commented on #99
Thank you very much

[2019-07-09 17:52] chanan opened #100 "After clicking on uncontrolled dropdown, clickin on a controlled dropdown will cause an exception"
Can reproduce here: /BlazorStrap/navbars

Close the uncontrolled dropdown, then open the controlled one. Error in the log:

[code]

[2019-07-09 17:54] chanan commented on #99
No problem! Hope you enjoy the library, let me know of any problems.

[2019-07-09 17:54] #99 closed

[2019-07-09 18:23] chanan commented on #80
Done in 1.0.0-preview6-19

[2019-07-09 18:24] chanan commented on #100
Looks like onfocusout isnt firing at the right time, and when it is firing someone it can't find the `DropDownMenuControl.Id`

[2019-07-09 18:34] howardgod opened #101 "Server-side blazor template project can't work with BlazorStrap"
Environment:

- Visual Studio 2019 preview 16.2.0 Preview 3.0
- Dotnet core 3.0.100-preview6-012264
- Blazor 0.8.0(not quite sure)

Description:
Looks like it fails to load the necessary BlazorStrap js files. And also makes local site.css & bootstrap.css failing to load up.

Reproduce step:

1. Create a Blazor server-side template project
2. @using BlazorStrap in _Imports.razor
3. add necessary js

[2019-07-09 18:57] chanan commented on #101
Some of those files are included in the default template and not by BlazorStrap, for example:

[code]

it's a bit weird that your project can't load them.

The one I know why its not loading is styled.js - you shouldn't need that, the ServerSideSample site uses it for the code snippets, but you shouldn't need that. As for the rest, I can't explain why your project won't run like I said above. Are

[2019-07-09 19:07] howardgod commented on #101
Yes, it’s asp preview6 like I list in environment.
The weird part is that, when I remove blazorStrsp from nuget, everything works fine.

[2019-07-09 19:44] chanan commented on #101
Can you post a failing project to Github?

[2019-07-09 20:04] chanan commented on #100
@jbomhold3 If you have time can you take a look at this?

[2019-07-09 20:27] chanan commented on #97
I couldn't find a dropdown in nav in react-strap or in the actual boot strap site. I did find one here though: https://react-bootstrap.github.io/components/navbar/#navbars-mobile-friendly

Looking at the generated CSS, its different from the way we currently handle dropdown in navs. So to fix this in that way I would need to do some writing of the code.

One thing you can do if you want to use thi

[2019-07-09 20:29] endeffects commented on #97
I think the problem is related to the dropdown toggle button only.

[2019-07-09 20:33] chanan commented on #97
It is.
but there is two ways to fix it, one is just apply a color to the dropdown toggle which i am not crazy about, and the other is to use the correct bootstrap css and structure. The only example i found so far has the html elements in a different way then I have them:

Closed:
[code]

Open:
[code]

So that is the fix that I am going to apply, but it will take a me a bit to do it.

(If you want

[2019-07-09 20:40] #80 closed

[2019-07-10 01:19] howardgod commented on #101
I guess I found out the problem
BlazorStrap v0.7.1: fail
BlazorStrap v1.0.0-preview6-19: work

looks like stable version got some problem with loading JS files.

[2019-07-10 02:25] jbomhold3 commented on #100
Fixed in https://github.com/chanan/BlazorStrap/pull/103

[2019-07-10 02:25] chanan commented on #100
Thanks!

[2019-07-10 02:30] jbomhold3 commented on #100
No worries sorry about the delay was working on my library.

[2019-07-10 15:39] chanan commented on #101
Ah yes, 0.7.x worked back with Blazor0.7, v.1.0.0-previewX works with aspnet core previewX - I try to keep my version numbers in sync with aspnet, sorry about the confusion

[2019-07-10 15:39] #101 closed

[2019-07-10 15:40] chanan commented on #100
will be released in v1.0.0-preview6-20

[2019-07-10 15:40] #100 closed

[2019-07-10 16:01] chanan commented on #95
This bug happens because of the onlostfocus of NavItem, looking into how to fix it

[2019-07-10 16:46] endeffects opened #104 "Navbar overlays Jumbotron"
I've noticed that the Navbar overlays the Jumbotron and all other contrainers.
Is this the expected behaviour?

![image](https://user-images.githubusercontent.com/13432569/60987843-b9b00380-a342-11e9-8fde-b842d586dad8.png)

[2019-07-10 17:02] endeffects commented on #97
I'm pretty new on all this bootstrap stuff, so i'm not sure if i can provide usefull fixes here. :(

[2019-07-10 17:04] chanan commented on #104
Add your code here and I will check it out (might need to compare it to "plain" bootstrap to see)

[2019-07-10 17:05] chanan commented on #97
No worries, I will take attempt to figure out why my version is different from react-bootstrap later this week.

[2019-07-10 17:13] endeffects commented on #104
Thanks, i'm using the following code on my test page:

**Layout**

[code]

**Navbar**

[code]

**Page**

[code]

[2019-07-10 17:14] chanan commented on #95
Fixed. Will be released in v1.0.0-preview6-20

[2019-07-10 17:15] endeffects commented on #95
Thank you. :)

[2019-07-10 17:26] jbomhold3 commented on #104
Are you using a template or default bootstrap 4x?

[2019-07-10 17:28] endeffects commented on #104
I'm using the default.

Index.html

[code]

[2019-07-10 17:36] chanan commented on #79
This worked for me, let me know how it works for you:

[code]

[2019-07-10 17:43] endeffects opened #105 "Navbar Link has an active border"
I've noticed that an active dropdown link has a active link border that does not exists on the bootstrap sample. There seems to be also no other bootstrap styles defined in this sample.
Also the dropdown lables seems to be centered and not aligned left.

**Bootstrap**

https://getbootstrap.com/docs/4.3/examples/jumbotron/#

![image](https://user-images.githubusercontent.com/13432569/60991225-680b7

[2019-07-10 17:49] chanan commented on #104
This does not happen in "vanilla" bootstrap. Looking to see if I can find the difference.

[2019-07-10 17:51] chanan commented on #105
Might be related to/fixed by #97

[2019-07-10 17:57] chanan commented on #104
Ok, so no, I was wrong its like that in "vanilla" bootstrap as well. If you add fixed-top to the nav bar (IsFixed="true" in our case) it happens as well.

I think what you will need to do is manage the margin yourself like this:

[code]

Let me know if that works out for you

[2019-07-10 18:03] chanan commented on #93
duh, my bad, "Button was clicked!" shows up in the "ASP.Net Core Web Server" output pane in Visual Studio. I forgot and was looking in the browser console.

[2019-07-10 18:03] #93 closed

[2019-07-10 18:08] endeffects commented on #104
Yes, this works for sure. I just thought that it is not a good idea to fix a responsive layout by defining pixel dimensions.

[2019-07-10 18:10] endeffects commented on #104
The original example does not contain such a fix too.
https://getbootstrap.com/docs/4.3/examples/jumbotron/#

[2019-07-10 18:14] endeffects commented on #104
Oh i think i found the difference. The sample has an other jumbotron padding defined:

**Bootstrap**

![image](https://user-images.githubusercontent.com/13432569/60993679-39dc6600-a34f-11e9-91fa-7678e7b363ee.png)

**BlazorStrap**

![image](https://user-images.githubusercontent.com/13432569/60993710-482a8200-a34f-11e9-9806-6a00b0e6d010.png)

[2019-07-10 18:16] chanan commented on #104
did you mean does contain?

[2019-07-10 18:33] endeffects commented on #104
no, or maybe i'm to dumb to find it.

[2019-07-10 19:06] jbomhold3 commented on #104
The fix comes from here
https://getbootstrap.com/docs/4.3/examples/jumbotron/jumbotron.css

[2019-07-10 19:20] jbomhold3 commented on #104
the 3.5 comes from
1.5 = 1.5 Line height on the body.
1    = .5 rem top/bottom padding on Nav
1    = .5 rem top/bottom padding on .NavLink
For the total of 3.5

[2019-07-10 19:23] jbomhold3 commented on #104
@chanan this isn't a bug. We could do a bit of JS major to fix this for the user but really its a template thing and might cause issues for others.

[2019-07-11 03:42] jbomhold3 commented on #98
Still going to need this because of the tag name... But far smaller

[code]

[2019-07-11 03:49] chanan commented on #98
No problem. I will make a package tomorrow morning. Not sure how to do it but if you want I can make you a commiter on theat repo. Let me know

[2019-07-11 03:51] jbomhold3 commented on #98
Do you have discord or skype? My info is in a PM on gitter

[2019-07-11 03:52] chanan commented on #98
Skype should work. I will message you in the morning (US MDT)

[2019-07-11 13:48] digitalgym commented on #79
How do you get this to work without escaping @ as with "@onclick"?

[2019-07-11 14:23] chanan opened #106 "Create a TabManager"
Create a TabManager to automatically switch between tabs like DropDownManager does for dropdowns

[2019-07-11 16:18] endeffects commented on #95
@chanan The problem still exists im version 20.

[2019-07-11 16:22] chanan commented on #79
Not sure what you mean

[2019-07-11 16:24] chanan commented on #95
I will check it out

[2019-07-11 16:26] chanan commented on #98
After talking to @jbomhold3 some more, we decided to move forward with this once preview7 gets released

[2019-07-11 16:36] chanan commented on #95
I cant reproduce the broken link anymore. Are you using CSB or SSB?

I uploaded a the sample that works for me at: https://github.com/chanan/BlazorStrap/blob/master/src/SampleCore/Pages/Samples/Issue95.razor

[2019-07-11 17:22] endeffects commented on #95
I'm using Blazor Client Side. I've noticed that it sometimes works and if this is the case, the DropdownMenu stays opened. With the BlazorNavLink itself i don't have any problems.

[2019-07-11 17:30] jbomhold3 commented on #95
[code]
correct format should be
[code]

[2019-07-11 17:33] endeffects commented on #95
Oh ok, i'll try this. I used your sample from https://chanan.github.io/BlazorStrap/navbars

![image](https://user-images.githubusercontent.com/13432569/61072019-b8e6a280-a412-11e9-94bd-64f21c6b0b35.png)

[2019-07-11 17:37] jbomhold3 commented on #95
stand by a moment.  just double checked the class

[2019-07-11 18:27] endeffects opened #107 "BlazorButton ignores additional stylings"
I tried to set different stylings on the BlazorButton Component and it seems like, that the class styles got not applied to the html output.

**Sample**
`<BlazorButton ButtonType="ButtonType.Button" class="w-100">Create</BlazorButton>`

![image](https://user-images.githubusercontent.com/13432569/61075425-424da300-a41a-11e9-9d50-cb9f27f35d05.png)

[2019-07-11 18:32] chanan commented on #107
My fault. When I refacotred the class creation I missed:

[code]

PS - Reminder to myself - check all components when fixing this issue

[2019-07-11 18:39] dsapoznik opened #108 "Static web assests issue after publishing on Azure App Service"
Hi Chanan:

We are using the BreadCrumb component from BlazorStrap and is working great.

 Then we tried to publish it our app on the Azure App Service and we got the following error:

DirectoryNotFoundException: C:\Users\John\.nuget\packages\blazorstrap\1.0.0-preview6-20\staticwebassets\
Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(string root, ExclusionFilters filters)

Director

[2019-07-11 18:42] chanan commented on #108
I have been told that this might be just an issue with preview6 / Visual Studio 2019 preview

Also, that this might help:

[code]

[2019-07-11 19:02] chanan commented on #108
One more update on this, I am told in the glitter room, that it is probably fixed in preview7 already. Instead of trying the above, you might want to wait till that comes out which should be any day now

[2019-07-11 19:04] dsapoznik commented on #108
Thanks Chanan, I will wait for Preview 7 before doing a workaround.

El jue., 11 jul. 2019 a las 15:02, Chanan Braunstein (<
notifications@github.com>) escribió:

--
David Sapoznik

[2019-07-11 21:09] jbomhold3 commented on #106
Will work on this once P7 ships

[2019-07-11 21:19] jbomhold3 commented on #28
I wouldn't put more then the core bootstrap stuff in. We can always add a Blazorstrap.Extensions project for all the extra goodies. I have a few in mind that would fit that project and not the core

[2019-07-11 21:26] chanan commented on #28
What I think would be nice to have (and yes can be an extra project) would be something like this in StartUp.cs (all optional):

[code]

That way, users dont have to include anything in the head and dont need to ship the bootstrap CSS anymore.

Lastly, once we have that we can provide a way to switch themes (component and API) something along the lines of: https://react-bootswatch.firebaseapp.com/

[2019-07-12 00:50] jbomhold3 opened #109 "Preview 7 Upgrade"
- [x] Upgrade BlazorComponentUtilities
- [x] Upgrade BlazorPrettyCode ![blocking](https://img.shields.io/badge/-Blocking-red.svg)
- [X] Upgrade Other Dependencies
- [X] Fix any breaking changes

[2019-07-12 00:54] chanan commented on #109
I will upgrade BlazorPrettyCode as soon as preview7 comes out.

Have you seen any other major changes in p7?

[2019-07-12 01:08] jbomhold3 commented on #28
I get you now. I would keep this in core then.

[2019-07-12 02:04] jbomhold3 commented on #109
System.Json   Prase and to String is now Deserialize and Serialize

[2019-07-12 02:11] IvanJosipovic commented on #109
If you want to get ahead of the game, P7s builds are done.
NET Core SDK Version: 3.0.100-preview7-012802
Asp Net Core: 3.0.0-preview7.19353.9

All the info is here, https://github.com/dotnet/core-sdk
Installer: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/3.0.1xx/dotnet-sdk-latest-win-x64.exe

add the following Nuget.config to the project:
[code]

[2019-07-12 02:23] chanan commented on #28
Going to submit a PR for this tonight or tomorrow.

[2019-07-12 02:52] jbomhold3 commented on #109
BlazorStrap is already updated to P7. I'm just pulling in the BlazorPrettyCode project directly at the moment.

[2019-07-12 03:00] chanan commented on #109
I will wait till the actual release :)

[2019-07-12 17:01] #104 closed

[2019-07-12 19:08] chanan commented on #95
Second attempt for a fix in 1.0.0-preview6-21 (Not ready to go out yet, we are putting a few more fixes in for other issues)

[2019-07-12 19:08] #95 closed

[2019-07-12 19:09] chanan commented on #28
PR #111 addresses this. Will go out in 1.0.0-preview6-21

[2019-07-12 19:09] #28 closed

[2019-07-12 19:10] chanan commented on #109
Daniel Roth said preview7 is expected on July 23rd

[2019-07-12 19:20] #107 closed

[2019-07-12 20:17] woodste36 commented on #99
Hey @chanan,

styled.js seems to be missing in the project.  I first noticed I was getting 404 errors in the console when running my project. Is it supposed to be in the wwwroot folder with the other files?

[2019-07-12 21:02] chanan commented on #99
BlazorStyled is not needed, its just used for the Documentation site. We are updating our _Host.cshtml to reflect that in a comment

[2019-07-12 21:19] woodste36 commented on #99
Okay great.

From: Chanan Braunstein <notifications@github.com>
Sent: Friday, July 12, 2019 5:03 PM
To: chanan/BlazorStrap <BlazorStrap@noreply.github.com>
Cc: Thomas Woods <twoods@upward.org>; Comment <comment@noreply.github.com>
Subject: Re: [chanan/BlazorStrap] Where can I get the necessary js files for server-side blazor project (#99)

BlazorStyled is not needed, its just used for the Document

[2019-07-12 22:01] chanan commented on #79
I am closing this because I was able to get it working with the above code. If you still are having issues let us know

[2019-07-12 22:01] #79 closed

[2019-07-12 22:02] chanan commented on #75
I am going to continue using the snippets folder for now as it makes it easier to update

[2019-07-12 22:02] #75 closed

[2019-07-12 22:03] chanan commented on #12
I am closing this as we werent able to reproduce. If this still happens let us know

[2019-07-12 22:03] #12 closed

[2019-07-12 22:05] chanan commented on #15
Closing this due to this PR: #111

[2019-07-12 22:05] #15 closed

[2019-07-12 22:06] chanan commented on #25
This is too broad of an issue. We now use Cascading values in some places. Closing this in favor of opening specific issues such as #106

[2019-07-12 22:06] #25 closed

[2019-07-12 22:18] chanan commented on #97
will be released in 1.0.0-preview6-21

The api itself is not great... But I dont want to tackle cleaning up and adding better documentation as part of this issue. For now, I will paste the code I used here:

[code]

The "important part" is `IsLink="true"` on `DropdownToggle`. Theoretically it should be the correct color as a button as well, the problem is I haven't found an example in the wild wit

[2019-07-12 22:18] #97 closed

[2019-07-12 22:19] chanan commented on #105
I would like to check this on the docs site post 1.0.0-preview6-21 which we will be releasing soon

[2019-07-13 00:47] chanan commented on #7
@jbomhold3 Isn't this closed now? I can click outside of a dropdown and it closes

[2019-07-13 00:56] chanan commented on #13
Fixed in 1.0.0-preview6-21

[2019-07-13 00:56] #13 closed

[2019-07-13 01:00] chanan commented on #19
@MarkStega Can you explain more what you are trying to do here? Why is the code in AfterRender and not in OnInit? If you can provide a code sample of how it should work that would be best. (And sorry for the huge delay in answering this)

[2019-07-13 12:08] endeffects commented on #97
Thank you for your help :)

[2019-07-14 08:40] jbomhold3 commented on #106
This is done. Functions much like matblazor.  Expect with a little more flexibility. I'll do pr tomarrow

[2019-07-14 16:18] jbomhold3 opened #115 "Improve dropdown manager"
Drop down manager can be handled much like new tabs.

[2019-07-15 06:53] thijstijsma commented on #44
Do you also mean that instead of this

[code]

We will have this?

[code]

Or is there another reason for the first approach?

[2019-07-15 07:51] jazzn3rd opened #116 "Could not find 'blazorStrap' in 'window'"
Hi!

Trying to get BlazorStrap Modal to work.

Have written something similar to the LiveDemo in my project but gets following exception:
Microsoft.JSInterop.JSException: Could not find 'blazorStrap' in 'window'.
d/<@https://localhost:5001/_framework/blazor.server.js:8:20878
d@https://localhost:5001/_framework/blazor.server.js:8:20839
beginInvokeJSFromDotNet/r<@https://localhost:5001/_framework/bl

[2019-07-15 09:03] #116 closed

[2019-07-15 09:04] jazzn3rd commented on #116
Didn't read the documentation and missed the js-files needed to be added in _Host.cshtml.

[2019-07-15 21:33] chanan commented on #44
After more discussion, we decided to do this in the 1.0.0-preview7-01

**THIS WILL BE A BREAKING CHANGE**

[2019-07-15 21:45] chanan commented on #106
Will be released in 1.0.0-preview6-21

[2019-07-15 21:45] #7 closed

[2019-07-16 11:21] endeffects opened #118 "Sample Page Issue"
When i enter a sub page directly on your demo site, the browser url gets flooded with additional parameters:

![image](https://user-images.githubusercontent.com/13432569/61290618-949d1400-a7cc-11e9-936e-d7ff66c642cf.png)

To reproduce open a new tab and then the following url:
https://blazorstrap.io/popovers/

Happens on latest Chrome.

[2019-07-16 11:23] endeffects commented on #118
Hm now it seems to work, strange.

[2019-07-16 12:13] endeffects opened #119 "Handling Validation Errors"
I tried to use the FormFeedback Control to show validation errors for each input field.
I have a dictionary of error messages filled at runtime and tried to populate them
to the FormFeedback Control. The console output appears but the message
is not shown on the page, so i think the IsInvalid binding seems not to work.

[code]

[2019-07-16 13:39] chanan commented on #119
I just tried the control (in isolation) this past weekend when checking everything over and it seemed to work. I will try your example though and get back to you.

[2019-07-16 15:03] endeffects commented on #109
Does this version support none-string bindings to input controls also?
Preview6 throws an exception for such bindings:

[2019-07-16 15:15] chanan commented on #109
I will add that as a separate issue. Binding in general to be honest has not been an easy subject (also in Blazor it changed a few times).

[2019-07-16 15:15] chanan opened #120 "Support binding of <T>"
Here is the source for the official controls:

https://github.com/aspnet/AspNetCore/blob/bfd4305fd829947790160ea4e7f1c886f1315e35/src/Components/Web/ref/Microsoft.AspNetCore.Components.Web.netstandard2.0.cs

[2019-07-16 15:47] endeffects opened #121 "Closing Burger Menu automatically"
Is there any option to close the burger menu on collapsed state when i click outside the navbar?

![image](https://user-images.githubusercontent.com/13432569/61309027-c4aade00-a7f1-11e9-88c6-9ec01cdfaed9.png)

[2019-07-16 15:50] chanan commented on #121
@jbomhold3 Can we use the same onfocusout solution you did for dropdowns?

[2019-07-16 15:50] chanan commented on #121
Sorry to hijack this thread, what are you building @endeffects is it something public that we can see? (Just curious not for the bug)

[2019-07-16 15:53] endeffects commented on #121
Nope sorry, currently i'm working locally only.

[2019-07-16 20:20] woodste36 commented on #106
Is there any reason not to include the "active" class on the BSTab element as well as the hyperlink (BSTabLabel)?  CSS styling can be used for the tab element itself in some cases as well as the hyperlink.  Thought I would ask before potentially adding this.

[2019-07-16 21:26] chanan commented on #106
@jbomhold3 Can you add that active link @woodste36 asked about above to your PR?

[2019-07-17 03:10] dmarciano opened #122 "Not working for multiple rows of items"
I have a div where I am displaying symbols.  If there is only one row of symbols, or only one column, then the tooltips for each symbol will show.  However, if the symbols overflow onto additional rows, then the tooltips only for the first row of symbols shows.  Also (probably related) if the div's height is restricted, and overflow-y is set to scroll then a lot of additional blank space is added

[2019-07-17 03:18] chanan commented on #122
Can you supply a code sample for the two issues please?

[2019-07-17 04:36] jbomhold3 commented on #106
active class added to BSTab exists in BSTabLabel. Am I missing something in this request?

[2019-07-17 05:00] jbomhold3 opened #123 "Complete list of Components old and new name"
Old Name| New Name
------------ | -------------
Alert | BSAlert
Badge | BSBadge
BlazorButton | BSButton
BlazorCol | BSCol
BlazorFigure | BSFigure
BlazorForm | BSForm
BlazorInput | BSInput
BlazorLabel | BSLabel
BlazorNav | BSNav
BlazorNavLink | BSNavLink
BlazorTable | BSTable
Breadcrumb | BSBreadcrumb
BreadcrumbItem | BSBreadcrumbItem
ButtonGroup | BSButtonGroup
Card | BSCard
Carousel | BSCarousel

[2019-07-17 05:03] jbomhold3 commented on #109
With changes in P7, this should just work. We will test this more once we get an official release. I don't want to have to reinstall again. lol

[2019-07-17 09:38] endeffects commented on #118
I'm still getting this error sometime:

![image](https://user-images.githubusercontent.com/13432569/61365084-60d2f480-a887-11e9-953c-012f8ac14791.png)

[2019-07-17 11:17] endeffects commented on #105
Solved with the latest version, thank you.

[2019-07-17 11:17] #105 closed

[2019-07-17 11:23] endeffects opened #124 "Vertical Modal Issues"
On your demo page the vertical modal demo has an issue:

![image](https://user-images.githubusercontent.com/13432569/61371865-08efba00-a896-11e9-920e-231e40f9f1a1.png)

[2019-07-17 12:11] woodste36 commented on #106
@jbomhold3 basically the active css property was only appearing on the "a" tag.  So therefore styling for "active" only appeared on the link itself and not the entire tab.  I just happened to run across this in our project when switching over to the new tab component (which is great by the way) and noticed the styling for the tabs was not rendering as originally designed.  Again thanks for adding.

[2019-07-17 23:27] jbomhold3 commented on #124
When modals are opened the modal is given focus so escape works with them. I'm going to assume this is something in our css looking into it thank you.

[2019-07-18 11:10] howardgod commented on #7
For general dropdown button, it will close when out of focus. However, for "DropDownMenu", it won't.
Is there event I can use to set IsOpen = false?

[2019-07-18 13:13] chanan commented on #118
This is an artifact of github pages and not the BlazorStrap itself, but when we release the next version with preview7 I will do what I can to fix it

[2019-07-18 18:20] jbomhold3 commented on #124
Fixed in upcoming p7 release

[2019-07-18 18:24] #115 closed

[2019-07-18 18:36] jbomhold3 commented on #19
The new @ref toggle should work with this issue. NOTE.... your will need
[code]

Since on AfterRender calls every time a render occurs. It would keep opening and closing, the model. This is what the FirstRender prevents. This is not a hack its how Microsoft expects us to handle FirstRender right now.

[2019-07-18 18:37] endeffects commented on #123
The Prefix Strap instead of BS is no option?

[2019-07-18 19:29] jbomhold3 opened #125 "Plan Events for each component"
We need to look at the components and add events where it makes sense.

| Component | Complete | Events | Event Class |
| ---|---|---|--- |
| Alert | 👍  | CloseEvent, ClosedEvent | BSAlertEvent { Target}
| Carousel | 👎 | N/A
| Collapse | 👍 | | ShowEvent, ShownEvent, HideEvent, HiddenEvent | BSCollapseEvent { Activated, Deactivated}
| Dropdown | 👍  | | ShowEvent, ShownEvent, HideEvent, HiddenEvent

[2019-07-18 19:36] jbomhold3 commented on #123
It's something we can talk over

However, trying to avoid the user having to type too much before he/she is able, to start filtering what they are looking for. IG BSMo and you're already filtering to model.  Where if it was StrapMo you would have 3 extra keystrokes.

BS = BlazorStrap, or bootstrap, or bull sh*t if you're mad at it or the program in general.

[2019-07-18 19:37] MarkStega commented on #19
It does work...

[2019-07-18 19:37] #19 closed

[2019-07-18 19:38] jbomhold3 commented on #106
Fixed in P7-1

[2019-07-19 03:12] jbomhold3 commented on #125
Please, let us know your input on what event hooks you would like to see on components.

[2019-07-20 03:05] jbomhold3 commented on #125
These are the default bootstrap jquery events. Things that wait for CSS to complete. would likely be best fired after render?
## Alert
Event | Description
-- | --
close.bs.alert | This event fires immediately when the close instance method is called.
closed.bs.alert | This event is fired when the alert has been closed (will wait for CSS transitions to complete).

## Carousel
Event Type | Descripti

[2019-07-20 03:08] jbomhold3 commented on #123
If you have an idea for the prefix please get them in.  Once we submit preview 7-1 they will be locked. Myself and Chanan are open to ideas. Max of 3 letters, please.

[2019-07-21 01:47] chanan commented on #125
Thanks for getting the list together. I think it makes sense to stick to what bootstrap has.

[2019-07-21 17:36] endeffects opened #127 "Feature Request: Speech Recognation"
I'm using a speech recognation component together with blazor strap, but maybe it would be a nice idea if your input controls support this by default.

https://github.com/jsakamoto/Toolbelt.Blazor.SpeechRecognition

[2019-07-21 17:38] endeffects commented on #119
Did you had time to compare this with your isolated tests?

[2019-07-21 17:45] chanan commented on #119
tbh I forgot (sorry head down in another library). I will add it to the next milestone which we should release right after preview7 comes out so that I we remember to check it out before we release our preview7.

[2019-07-21 17:48] chanan commented on #127
Weird, I thought I also commented on this... anyway...

Awesome library!

How exactly do you see the integration working? Do you have current code samples of how you combine the two?

@jbomhold3 I think this might be the start of either an external or internal Ext library we discussed

[2019-07-21 17:56] endeffects commented on #127
Well, i think it should be possible to have an enum which allows to active the speech recognation by clicking into the input field or by pressing an additional "button" (microfon) that appears in the input box. The control should deactivate this feature by itself if the browser dows not support it or the user did not grant the required rights. The drawback here is, that it works only locally or on

[2019-07-21 18:04] chanan commented on #127
So what I think we can do here is have another project for extra controls or user contribution or something like that, where this can be added. I don't think we want this in the main BlazorStrap project because then everyone using BlazorStrap will need to also import Toolbelt.Blazor.SpeechRecognition

We can in this new "extras" project (or projects) have a SpeechInput control that should be "simp

[2019-07-21 18:05] endeffects commented on #127
Thanks for your feedback, sounds great. :)

[2019-07-21 18:09] endeffects commented on #127
I have updated the link, it was the wrong repository.

[2019-07-22 07:35] mihaimyh opened #128 "BSTab Selected"
Hi,

Since I don't see any documentation published, I would like to ask if there is an event that fires when a BSTab gets selected/unselected.

Is see that the object BSTab has a Selected property, but how can I catch when a user navigates through tabs?

Thanks in advance.
Mihai

[2019-07-22 12:23] chanan commented on #128
In #125 there is a listing of all the events we will be adding shortly to the controls. BSTab Shown is one of them. We hope to have that added very soon. In the meantime, you can bind Selected to a property in your page and override “get” which will be called when the property changes

[2019-07-22 18:11] chanan commented on #127
@endeffects - @jbomhold3 put together a nice Speech Control that integrates with BSInput. It is going to live here: https://github.com/chanan/BlazorStrap.Extensions - It's not quite ready (and needs preview7 anyway), but should be available soon after preview7 is released. Once it is and you want to enhance it, please feel free to submit PRs for it - we don't use it often, so we don't know what yo

[2019-07-22 18:15] endeffects commented on #127
Cool, that was fast. Thank you. I'll try it out as soon as the new version is out and i'm able to migrate.

[2019-07-22 18:15] #127 closed

[2019-07-23 22:24] mihaimyh commented on #109
I've created a [PR](https://github.com/chanan/BlazorStrap/pull/129) to upgrade to P7.

[2019-07-24 23:12] #44 closed

[2019-07-24 23:13] #109 closed

[2019-07-24 23:25] #124 closed

[2019-07-25 09:10] endeffects commented on #108
I have the same problem when i run the blazor application in docker with preview7:

[2019-07-25 14:44] chanan opened #131 "Documentation Site Error: Last snippet on tables page Exception"
On the docs page: https://blazorstrap.io/tables

The last snippet has an exception

[2019-07-25 15:15] #123 closed

[2019-07-25 17:07] dsapoznik commented on #108
Hi Chanan:

What do you suggest, to wait for Preview 8 or do a workaround ?

Thanks

David

El jue., 25 jul. 2019 a las 5:10, endeffects (<notifications@github.com>)
escribió:

--
David Sapoznik

[2019-07-25 17:14] sureadam opened #132 "Modal border is out of range"
When a modal opens with preview 7 the border ranges from the top to the bottom of the page. CSS overrides are not working to update this, yet :/

[](https://clevelandclinic-staging-integration.silkroad.com/image/BlazorStrap_ModalBorder.png)

You can also see the modal in use on the below page when clicking contractor and using a modal.

https://clevelandclinic-staging-integration.silkroad.com

[2019-07-25 17:16] endeffects commented on #108
please see: https://github.com/aspnet/AspNetCore/issues/11609

[2019-07-25 17:27] chanan commented on #132
Do you mean the blue border on the screen when you click Reset Form on https://clevelandclinic-staging-integration.silkroad.com/Contractor

[2019-07-25 17:31] chanan commented on #108
@dsapoznik I take it preview7 still wont publish to Azure for you?

I heard from people on twitter that Azure pusblish should work (of course they may not be using JS). I am thinking of setting Azure Pipelines and publishing a server side app to Azure, but, it is going to take some time, its not something I know how to do off hand like publishing the client side app to Github Pages, so sadly, it w

[2019-07-25 18:15] sureadam commented on #132
Exactly, I updated my project to preview 7 and had to update this one as well to match, everything came out ok after updating to the new tags but this border.

[2019-07-25 18:17] chanan commented on #132
Can you supply the code from you model please?

[2019-07-25 18:32] sureadam commented on #132
Sure, this one is a simple one, the other one behave the same way. The border only shows when it's active, it clears once you click on another window.

     <BSModal IsOpen="@IsOpen3" IsCentered="true">
            <BSModalHeader OnClick="@onclick" >Reset Form</BSModalHeader>
            <BSModalBody> <p class="HEADLINE text-center">Are you sure you want to reset this form?</p> </BSModalBody>

[2019-07-26 02:45] jbomhold3 commented on #132
include _content/BlazorStrap/css/cromefix.css  This is crome highlighting focused items

[2019-07-26 02:45] jbomhold3 commented on #132
Not really a bug more of an annoying thing crome added

[2019-07-26 02:47] jbomhold3 commented on #131
You mean CSHTMLTokenizer.TokenizationException: Tokenization Error on line: 42 char: 11 ---> System.InvalidOperationException: Stack empty.
  at System.Collections.Generic.Stack`1[T].ThrowForEmptyStack () <0x2a54548 + 0x0000c /> in <43380fe6be4043f8b272b773293bde39 />:0
  at System.Collections.Generic.Stack`1[T].Pop () <0x29830b8 + 0x0002e /> in <43380fe6be4043f8b272b773293bde39 />:0
  at CSHTMLTo

[2019-07-26 02:50] chanan commented on #131
That's the one :) I can take care of it. Just didn't get around to it yet.

[2019-07-26 02:55] jbomhold3 commented on #125
Show vs shown ext.. since we cant directly affect the dom. Events like show will happen the moment the user performs the action. Shown will happen after render.   For shown to work thinking a generic list of event<t> will hold our que and on afterrender will will loop through the que and fire them off

[2019-07-26 03:03] chanan commented on #125
Is there ever a case where one control would need to fire more than one at AfterRender?

[2019-07-26 03:12] jbomhold3 commented on #125
I can think of a few with tabs and jsinterop if they are using it. you want to know when the element can be referenced safely. No point in a race condition. I think I have a rather smart way to solve firing them after that event without adding any real overhead

[2019-07-26 13:51] chanan opened #133 "Remove BootstrapComponentBase"
Do we still use: https://github.com/chanan/BlazorStrap/blob/master/src/BlazorStrap/Util/Components/BootstrapComponentBase.cs ?

If so, why? Do we really still need it?

If not, lets delete it.

[2019-07-26 13:53] chanan commented on #132
@jbomhold3 Should we/can we inject that chrome fix as part of `SetBootstrapCSS();` - is it safe to always add?

[2019-07-26 14:22] howardgod opened #134 "Feature: autocomplate"
Is there any plan to implement autocomplete?

thank you

[2019-07-26 14:29] chanan commented on #134
We can add one to https://github.com/chanan/BlazorStrap.Extensions - but can't give you a timeline at this point

[2019-07-26 14:30] #134 closed

[2019-07-26 17:44] chanan opened #135 "Long term enhancement: Remove/reduce javascript usage"
This will not be easy, but it would be really nice to not have any javascript in the project. Where we use JS now:

* Adding classes to the body tag for models - No idea how to to do this without JS
* Popper - Should be possible without JS, just a lot of work
* Tooltip - Same as popper
* FocusElement - Is this possible without JS?
* Loading bootstrap CS - this is possible without js, but hard and

[2019-07-26 21:04] sureadam commented on #132
Thanks for the workaround, the chrome fix css works in chrome and IE edge as well. All set!

[2019-07-26 21:05] chanan commented on #132
I am going to leave this open for now while we consider adding the fix to `SetBootstrapCSS()`

[2019-07-26 22:19] sureadam opened #136 "Button ToolTips not working as expected in modals"
Hi,

I have a server blazor app setup as a smart form here https://clevelandclinic-staging-integration.silkroad.com with a SWAGGER API as a backend. I like your library so I've been using it along the way. It seems there is an issue when using toot tips in modals.

Here are two on the main page that work fine:
 https://clevelandclinic-staging-integration.silkroad.com/image/ToolTipsNoModal.gif

`<B

[2019-07-27 17:48] endeffects commented on #109
Thanks for the update and the great support. :)

[2019-07-27 18:05] endeffects opened #137 "Overriding Colors"
Is there an easy way to override your color definitions without to use themes?
It would be great to use the existing enums and to define some other colors for them.

[2019-07-27 18:08] chanan commented on #137
Can you just over ride the bootstrap colors in your “site.css”?

[2019-07-27 18:17] endeffects commented on #137
Well, maybe on the wrong road here, but what i found is something like this, which seems to be much overhead:
https://getbootstrap.com/docs/4.0/getting-started/theming/

And by using pure css i have to override the specific css classes, like "navbar-dark" or "text-light".
So i thought doing something like this would be more comfortable:

[code]

[2019-07-27 18:28] chanan commented on #137
can you try this:

<BSButton style=“color:red;”>red button</BSButton>

[2019-07-27 18:50] endeffects commented on #137
Yes i know this is possible. But that's not my point. What i try to explain is, that i already use an abstract color definition for my layout - your color enumerations, which are used to create the abstract bootstrap css classes. Or in other words, a single enumeration value like Color.Black is used to create various bootstrap tags like bg-black, text-black, nav-black.

So from my perspective it w

[2019-07-27 18:59] chanan commented on #137
I see. The problem with that is that bootstrap’s btn-primary for example might be just a color or it might be many css rules. Btn is simple so it’s probably just a color. But like you mention navbar bg-black is likely at least two background and color. So I am not sure how easy it will be.

Having said that, allowing the user to override some of the css rules by setting up a “theme” and passing it

[2019-07-27 19:08] jbomhold3 commented on #133
We would have to add

[Parameter(CaptureUnmatchedValues = true)] protected IDictionary<string, object> UnknownParameters { get; set; }

to all files  but I'm fine with removing a near pointless base class

[2019-07-27 19:17] jbomhold3 commented on #136
Thanks for the detailed report. Looking into it

[2019-07-27 19:20] jbomhold3 commented on #118
If we add a route not found a handler. We can forward it back to the home page.  with a return URL and strip out the attracting, and since blazor will be booted by then it will just work. It's a silly workaround but something that will solve the issue.

[2019-07-27 19:23] chanan commented on #118
Heck the 404.html page in the docs folder too. It had stuff in it to make it work when we the sites under a /BlazorStrap/ maybe. Now we are in the root. Could be the issue

[2019-07-27 19:28] jbomhold3 commented on #118
l.pathname.split('/').slice(0, 1 + segmentCount).join('/') + '/?p=/' +
        l.pathname.slice(1).split('/').slice(segmentCount).join('/').replace(/&/g, '~and~')

Yup that would be it

[2019-07-27 19:29] jbomhold3 commented on #118
that could be simpled a lot... dump the entire route into returnurl... and let Blazors router do its thing.

[2019-07-27 19:35] chanan commented on #118
Yep. I just grabbed a generic one at the time. Didn’t really look at it

[2019-07-27 20:02] jbomhold3 commented on #137
We could have a static color override dictionary they can add to. then just output the contents in the right place in a style tag.

[2019-07-27 20:32] chanan commented on #137
That simpler :) I suppose you can do any css rule. Doesn’t have to be color

[2019-07-28 03:09] dsapoznik commented on #108
Hi Chanan:

Today I published our BLazor Server side application in an Azure App
Service and your Blazor Strap is working fine in Preview 7.  No more static
web assests error.

Thanks

David

El jue., 25 jul. 2019 a las 13:31, Chanan Braunstein (<
notifications@github.com>) escribió:

--
David Sapoznik

[2019-07-28 03:20] #108 closed

[2019-07-29 17:20] endeffects opened #138 "Build in authentication support for navigation"
I'd like to know if you plan to provide build in
authentication support for the navigation controls
to show or hide navigation items?

The following pseudo sample hides navigation element "CategoryTwo" for all guests
and only allows the "Show" option for "CategoryTwo".

[code]

Or even better, some role based support:

[code]

References:
https://gist.github.com/SteveSandersonMS/175a08dcdccb384a52

[2019-07-29 17:55] endeffects commented on #138
Hmm probably not the best idea to handle such things in this way.

[2019-07-29 17:55] #138 closed

[2019-07-30 15:53] chanan commented on #131
Fixed

[2019-07-30 15:53] #131 closed

[2019-07-31 17:18] endeffects opened #141 "NavBar Routing Issue on Page Reload"
When i use the navbar to navigate to a sub page and press the browser refresh button there, than all navigation items disappears. Occurs on a blazor client side application

[code]

[2019-07-31 17:22] chanan commented on #141
That is odd. Client side or server side?

[2019-07-31 17:23] endeffects commented on #141
full client side.

[2019-07-31 17:27] endeffects commented on #141
oh wait, i had a _host file that was not declared as fallback in my project but was still used by the application for pre-rendering. i have removed it and it works as expected. sorry.

[2019-07-31 17:27] #141 closed

[2019-08-01 18:50] jbomhold3 commented on #128
Added in PR #142

[2019-08-01 18:50] #128 closed

[2019-08-01 18:51] #125 closed

[2019-08-01 18:52] #106 closed

[2019-08-01 18:54] jbomhold3 commented on #62
Check all Componets with click events to make the apple gods happy.

[2019-08-01 18:59] jbomhold3 commented on #50
The default classes Editform puts out does not conform to bootstrap validation classes. If its easy enough to fix we can have a bool for valdation and use the base components. If not there is not reason not to just copy the code and correct what we need to.

[2019-08-01 21:42] jbomhold3 commented on #121
Added in PR #142

[2019-08-01 21:57] jbomhold3 commented on #14
Closed reopen if this is till an issue.

[2019-08-01 21:57] #14 closed

[2019-08-03 02:52] nashsclay opened #143 "error MSB3073"
After doing the two install steps from https://blazorstrap.io/, I get this error. It then says to edit _Host.cshtml which I do not have. Is creating one a solution or just implement the includes in the code I already have? Linux 18 Server

![image](https://user-images.githubusercontent.com/6693056/62406305-930a7480-b55e-11e9-88c0-ef38e312d6fe.png)

[2019-08-03 03:03] chanan commented on #143
A search online seems to indicate that the issue is with copying the dlls to the bin folder. Are you able to run a plain Server Side Blazor project?

[2019-08-03 03:14] nashsclay commented on #143
Negative. This is what I get after cloning the repo

[code]

[2019-08-03 03:22] chanan commented on #143
Do you have AspNetCore core preview7 installed plus the blazor extensions?

[2019-08-03 03:30] nashsclay commented on #143
I started to add the dependencies but going deeper and adding more as one dependency relies on another, there is a mess of them. I added a number of the decencies and then it is starting to say that the dependencies were downgrades from the ones I added. Is there not a script that can just add the ones I need?

[2019-08-03 03:36] chanan commented on #143
Blazor (server side) is in preview as part of AspNetCore 3 (client side is going be released later). BlazorStrap runs on top of blazor. You need to get blazor running first. Here are the docs from Microsoft on how to do that: https://docs.microsoft.com/en-us/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio

Once you do that and get a “blank” blazor project you should be able t

[2019-08-03 18:02] jbomhold3 commented on #143
It says right in the build error items attempting to pull in a preview 6 package. Make sure you have preview 7.. dotnet --version. Clear your nuget cache and should resolve the issue.   @chanan  the blazor extensions plugin is no longer required with p7 and that's a visual studios thing only.

[2019-08-03 18:49] jbomhold3 commented on #137
We have worked out how we want to do global overrides. You are going to have to include a <BSColorSettings/>  as the first line of your main layout. Pre Component level overrides will be done via the Style tag.

[2019-08-03 18:52] endeffects commented on #137
Thank you, great news :)

[2019-08-04 17:42] nashsclay commented on #143
I cleared the cache, and tried suggestions as above. I had blazor running already. The basic app. I was just trying to get the bootstrap to work properly as the "collapse" function would not work. It looked correct when running the app but just didn't actually collapse when clicked on. This is what my mytestapp.csproj file looks like. Still getting same type of errors of course.

[code]

[2019-08-04 19:34] jbomhold3 commented on #143
<PackageReference Include="Microsoft.AspNetCore.Blazor" Version="3.0.0-preview7.19365.7" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Build" Version="3.0.0-preview7.19365.7" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.DevServer" Version="3.0.0-preview7.19365.7" />

[2019-08-04 19:34] jbomhold3 commented on #143
<PackageReference Include="Microsoft.AspNetCore.Blazor" Version="3.0.0-preview7.19365.7" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Build" Version="3.0.0-preview7.19365.7" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.DevServer" Version="3.0.0-preview7.19365.7" />

[2019-08-04 19:34] jbomhold3 commented on #143
Should be
  <PackageReference Include="Microsoft.AspNetCore.Blazor" Version="3.0.0-preview7.19365.7" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.Build" Version="3.0.0-preview7.19365.7" />
    <PackageReference Include="Microsoft.AspNetCore.Blazor.DevServer" Version="3.0.0-preview7.19365.7" />

[2019-08-05 16:25] endeffects commented on #121
I installed the latest version, but closing the menu automatically seems not to work. Do i have to add a special parameter for it?

[2019-08-05 16:35] chanan commented on #121
Reopening so it doesnt get lost in the shuffle

[2019-08-05 16:39] endeffects commented on #121
Automatically closing the Dropdown by clicking outside the menu or choosing an element seems to be effected too.

[2019-08-05 19:45] jbomhold3 commented on #121
Can't reproduce. Is your toggle button nested properly?

[2019-08-06 14:01] jbomhold3 commented on #132
Fixed in next release.

[2019-08-06 14:01] #132 closed

[2019-08-06 14:23] jbomhold3 commented on #133
Gone

[2019-08-06 14:23] #133 closed

[2019-08-06 15:28] jbomhold3 commented on #118
This is now fixed

[2019-08-06 15:28] #118 closed

[2019-08-06 15:50] jbomhold3 commented on #119
Adding support for default validation editform.. If you want to control this manually you will need to add is-invalid or is-valid to the form-control class

[2019-08-07 05:23] noahc3 opened #146 ""Nullable object must have a value" in BlazorStrap.CodeBSNavItem.MouseDown() in BlazorStrap 1.0.0-preview7-02"
When clicking on a BSNavItem in 1.0.0-preview7-02, the component renderer will fail with `Error: System.InvalidOperationException: Nullable object must have a value.`. This occurs in both client-side and server-side Blazor, and does not occur in BlazorStrap 1.0.0-preview7-01. Seems to happen with any of the BSNav examples on the docs.

Exception output for a server-side Blazor project:

[code]

an

[2019-08-07 05:57] noahc3 opened #147 "BSNavLink should apply the "active" class when href matches the site path like standard NavLink"
The standard NavLink component in Blazor automatically applies the `active` class (or a custom "active" class(es) specified with the `ActiveClass` parameter) to the rendered `a` element when the site path matches the href parameter. BSNavLink should also do this so ex. Navs automatically highlight the correct tab after being clicked without needing any custom logic.

[2019-08-07 05:59] chanan commented on #146
Thanks for the report. We will check it out ASAP

[2019-08-07 15:47] jbomhold3 commented on #119
Fixed in upcoming release

[2019-08-07 15:49] #119 closed

[2019-08-07 15:49] jbomhold3 commented on #50
Woot Woot

[2019-08-07 15:49] #50 closed

[2019-08-07 16:02] jbomhold3 commented on #62
Fixed in next release

[2019-08-07 16:02] #62 closed

[2019-08-07 16:18] jbomhold3 commented on #136
Founded and fixed... Might be a bug in bootstrap they just make the tooltip opacity 0. So even though your not seeing the tooltip your hovering over the div tag not the button.  Added d-none to closed tooltips to resolve.

[2019-08-07 16:18] #136 closed

[2019-08-07 17:52] jbomhold3 commented on #146
Fixed in next release

[2019-08-07 17:52] #146 closed

[2019-08-07 19:19] jbomhold3 commented on #147
Done

[2019-08-07 19:19] #147 closed

[2019-08-07 19:19] #143 closed

[2019-08-08 16:55] endeffects opened #149 "AuthorizeView Issue"
I have surrounded some of my controls with an AuthorizeView.
With the latest version of BlazorStrap i receiving the following error:

`Error	RZ9999	The child content element 'ChildContent' of component 'BSForm' uses the same parameter name ('context') as enclosing child content element 'Authorized' of component 'AuthorizeView'. Specify the parameter name like: '<ChildContent Context="another_name"

[2019-08-08 16:58] chanan commented on #149
@jbomhold3 I think thats a "problem" in the way Blazor does cascading values... I put the word problem is quotes because I doubt they will fix it.

Should we just go and prefix all our cascading values with "BS"?

[2019-08-08 17:29] endeffects opened #150 "Handling custom validation issue"
I try to handle custom validation messages that do not use data annotations.
In the past i tried something like this, which does not work still with the new version:

`<BSFormFeedback IsInvalid="@this.State.Errors.ContainsKey("Name")">@this.State.Errors["Name"]</BSFormFeedback>`

With the new BlazorStrap version i also tried this, which does not work too, because the "For" statement does not accep

[2019-08-08 17:33] chanan commented on #150
@jbomhold3 is this related to the hotfix you mentioned we need?

[2019-08-08 18:35] jbomhold3 commented on #150
@endeffects  are you using a Model? I'm assuming your not going to want to do a custom validator as our validation is using the exact same code as Blazor, but thats an option. If your at least using the Model I can add away for you to set errors per parm yourself and then you just remove the DataAnnotationsValidator   but used it like the example..

[code]

[code]

[2019-08-08 18:43] jbomhold3 commented on #150
Have an easier fix then that give me a few will post howto do what your wanting.

[2019-08-08 18:45] jbomhold3 commented on #150
@endeffects  What type is Errors["Name"]... list or string?

[2019-08-08 18:51] endeffects commented on #150
Thanks for your reply, yes the error dictionary is of type dictionary<string, string> and yes the BSForm is bound to a model.

[2019-08-08 19:08] jbomhold3 commented on #150
[code]

[2019-08-08 20:07] jbomhold3 commented on #149
After playing around with this some. This is not a blazorstrap issue. It happens with the default EditForm. This can be fixed easily  <Authorized context="Auth"> @Auth.User..... <.Authorized>

[2019-08-08 21:20] jbomhold3 commented on #149
Checking into the matter more this is Blazors Default behavior when dealing with a RenderFragment<T>. They automagically generate a context for each. If you nest them your creating the ambiguous issue. Changing the context name in any of the components will resolve the issue

[2019-08-09 10:38] EMaderbacher opened #153 "ChildContent not rendered on BSInput"
With latest beta build  (v1.0.0-preview7-03) isn't rendered anymore the ChildContent for InputType.Select

[2019-08-09 11:08] bens-web-dev opened #154 "Tabs content not update on removing tab"
Hello there,

when i create a list of tabs and remove one tab in the list the Tab content wont update. I created this code to reproduce it. Maybe im doing anything wrong?

Best regards

`<BSTabGroup>
    <BSTabList>

        @foreach (var tab in _tabList)
        {
        <BSTab>
            <BSTabLabel>@tab.Label <strong @onclick="() => RemoveTab(tab.Id)">X</strong></BSTabLabel>
            <BST

[2019-08-09 13:03] chanan commented on #149
Based on the information @jbomhold3 found out about Cascading Values with RenderFragment, we are closing this issue

[2019-08-09 13:03] #149 closed

[2019-08-09 13:03] chanan commented on #150
Released in 1.0.0-preview7-04

[2019-08-09 13:04] chanan commented on #153
Can you supply a code snippet of the issue please?

[2019-08-09 13:05] chanan commented on #154
Can you try adding StateHasChanged() at the end of RemoveTab and see if it fixes it? If not, we will try to fix it ASAP

[2019-08-09 13:09] bens-web-dev commented on #154
Oh ive forgotten to add this in my code snippet, but that does not fix the issue.

[2019-08-09 15:40] endeffects commented on #150
Thanks for the quick fix, i got it working now. But there seems to be a logical issue here.

1) The page is loaded:

![image](https://user-images.githubusercontent.com/13432569/62790677-e08d6100-bacb-11e9-87c4-a6299eaa19ef.png)

2) I click into the input field and the control enters into a valid state, but no validation happend:

![image](https://user-images.githubusercontent.com/13432569/62790742

[2019-08-09 15:59] endeffects commented on #149
Ah thank you, i did not noticed this and i found nothing related to the error code.

[2019-08-09 16:06] endeffects commented on #149
One more question about the context issue, won't it make sense to use a custom context name within the BlazorStrap RenderFragments by default? The chance that this happens for other users seems to be high and you could prevent this easily?

[2019-08-09 16:13] chanan commented on #149
We can't we don't use the name "context" at all - when we use RenderFragment<T> - Blazor auto creates behind the scene a variable named context, but they use the same variable everytime which causes your error. That is a bug in Blazor if you ask me, they should use different names - so one day they might fix it...

[2019-08-09 16:16] jbomhold3 commented on #153
Issue confirmed. looking into it

[2019-08-09 16:16] endeffects commented on #149
Oh ok, I just thought you are able to override it on a lower level as suggested.

[2019-08-09 16:18] chanan commented on #149
Yes that’s what I thought too when I first read the issue but after more investigation by John we found that is not the case. Sadly.

[2019-08-09 16:34] jbomhold3 commented on #153
Fixed in next release. Was rendering childcontent wrong .

[2019-08-09 16:39] jbomhold3 commented on #154
https://gyazo.com/b3f06033acec5c6c41185bc80d94f8c9
[code]

[code]

[2019-08-09 16:57] jbomhold3 commented on #154
@bens-web-dev can you tell me if the code above works on your end?

[2019-08-09 17:00] bens-web-dev commented on #154
hey @jbomhold3 , you can see in your demo link on gyazo.com that the tab content not update correctly. The content does not match the tab label.

[2019-08-09 17:03] jbomhold3 commented on #154
@bens-web-dev  Addressing that just wanted to make sure the content does update on your end even if it points to the wrong item. Fixing the wrong item issue as we speak

[2019-08-09 17:11] bens-web-dev commented on #154
@jbomhold3  Yes okay, by content i meant the BSTabContent which not update correctly, but sure its the wrong item.

[2019-08-09 17:26] jbomhold3 commented on #154
Found the issue. We have a race condition going on here. Basically, it's updating to the new because of the click. However, it's being removed at the same time. So the tab gets removed first. Triggering dispose of then the click event comes in and triggers its command and renders what it had as the selected tab.

[2019-08-09 18:03] jbomhold3 commented on #154
Next issue is blazor has no clue what tab you removed. Only that something has been removed from the list. So it picks the last item in the list assuming its the one removed. So adding a remove function to the tabs.

[2019-08-09 18:25] jbomhold3 commented on #154
@bens-web-dev   Note the @key this keeps the components rendered insync with the list. The above comment is fixed in next release. However, @key should hold you over until it is
 <BSTabList>
        @foreach (var tab in _tabList)
        {
            <BSTab Name="@tab.Label" @key="tab">
                <BSTabLabel>@tab.Label <strong @onclick="() => RemoveTab(tab.Id)">X</strong></BSTabLabel>

[2019-08-09 18:45] jbomhold3 commented on #150
My PR got closed and not committed by mistake. adding to this round of bug fixes. my post is how its done manually

[2019-08-10 05:20] bens-web-dev commented on #154
@jbomhold3 Great that you found the Issue!! And thank you for the hint with the @key attribute. Thats good to know and works perfectly for now. I started with blazor only a few days ago but its fun. So shall i close this opened issue?

[2019-08-10 13:39] #154 closed

[2019-08-10 17:12] endeffects commented on #150
I have an other issue here, beside the general input validation i'm also capturing exceptions from the underlying http requests. If the request fails i'd like to show the exception message for the submit button. The property "HasErrors" is true and the "ShowErrorMessage" returns an error message.

[code]

Is also tried to set the FormFeedback Property IsInvalid="true".

[2019-08-11 05:43] jbomhold3 commented on #150
Once released it's
[code]

ValidMessage shows up only when valid
InvalidMessage is new for manual validation

[2019-08-11 05:44] jbomhold3 commented on #154
Welcome to blazor happy to help

[2019-08-11 05:52] jbomhold3 commented on #149
RenderFragment<T> to be more clear. For anyone finding this issue later on. Renaming the auth context is probably the easiest bet as your likely to run into the issue with other things. This also affects Microsoft's Editform component.

[2019-08-11 13:24] chanan commented on #153
Fixed in 1.0.0-preview7-05

[2019-08-11 13:24] #153 closed

[2019-08-11 13:25] chanan commented on #150
Released in 1.0.0-preview7-05

[2019-08-11 13:25] #150 closed

[2019-08-11 15:11] endeffects commented on #150
Hmm, i tried the new version, but i still have some issues.

**1. I've loaded the page:**

![image](https://user-images.githubusercontent.com/13432569/62835543-021c5300-bc5a-11e9-91b2-33edb791d9ec.png)

**2. I click into the input box, no visual validation appear, which is great.**

![image](https://user-images.githubusercontent.com/13432569/62835554-211ae500-bc5a-11e9-856a-3e076fe4946d.png)

**3.

[2019-08-11 16:30] jbomhold3 commented on #150
@endeffects You're doing manual validation so you are responsible for the invalid and invalid flags. This is a working sample

[code]
[code]

[2019-08-11 16:48] endeffects commented on #150
Oh thank you, i missed the IsInvalid Binding for the FormFeedback itself. So this is working now. What is does not solve is to show a general error under the form if the http request fails, this seems to be not possible with the FormFeedback control, or?

[code]

[2019-08-11 16:55] jbomhold3 commented on #150
Hidden input above button as a workaround for the moment bind to anything so invalid gets placed. We will look into the best way to handle this with bootstrap. Rather that is putting an isvalid/isinvalid in the button.

[2019-08-11 17:29] jbomhold3 commented on #150
BTN isn't going to be the right area if we align as close as we align with bootstrap.  Will take a little thought. I need to add the validation summary to a bs component and not using the default so will likely be what fixes this so opening a new ticket.

[2019-08-11 17:30] jbomhold3 opened #156 "Create BS Validation Summary Component"

[2019-08-11 17:48] endeffects commented on #150
Ok, thank you. :)

[2019-08-11 17:51] endeffects opened #157 "Handling general form submission errors"
If the form submission fails for i.e. an api call, it should be possible to show a general error. One option could be to add valid / invalid support for buttons too.

![image](https://user-images.githubusercontent.com/13432569/62837579-554dd000-bc71-11e9-8215-41f37438120e.png)

[2019-08-14 04:30] jbomhold3 opened #162 "preview 8"
Just wanted to give everyone a heads up we are actively porting to preview 8. If all gos well we should have a build ready tomarrow.

[2019-08-14 10:48] ivmarkov68 commented on #162
BSForm.razor is missing

[2019-08-14 19:02] Mason742 commented on #162
Cool! Looking forward to it.

[2019-08-14 21:17] jbomhold3 commented on #162
there isn' t a BSForm.razor we are building the view in code.

[2019-08-15 01:15] jbomhold3 commented on #162
Preview 8 PR is ready.
Please note there were code changes because of API changes on Microsoft's end. So bugs that had already been fixed could show their head again.  Heres hoping that didn't happen.

[2019-08-15 06:01] jbomhold3 commented on #137
bootstrap does not use its own css vars. .... annoying but have another idea might push this back a release though

[2019-08-17 11:47] endeffects opened #163 "BSInput error on Preview8"
I tried to migrate to preview8 now, but i've received an error form my existing input fields:

![image](https://user-images.githubusercontent.com/13432569/63211259-3463ff80-c0f5-11e9-9a8c-495d2b24c752.png)

I also tried to remove the bindings, but the error remains.

![image](https://user-images.githubusercontent.com/13432569/63211292-8c9b0180-c0f5-11e9-972d-e9c334569623.png)

![image](https://use

[2019-08-17 14:42] endeffects commented on #163
Seems to be related to something else.

[2019-08-17 14:42] #163 closed

[2019-08-17 17:59] noahc3 opened #164 "BSNavItem active classes not switched until additional click event"
Following up on https://github.com/chanan/BlazorStrap/issues/147 now that I've had a chance to try it.

In my nav bar, when I click on a link, the active class is not applied to the nav-item correctly until I click again anywhere in the window. It is applied to the nav-link correctly, but this is not responsible for the text color.

GIF of the issue: ![](https://puu.sh/E6lDM/9e8da3e596.gif)

You c

[2019-08-17 18:02] #162 closed

[2019-08-17 18:27] jbomhold3 commented on #164
Looks like we didn't call statehaschanged . should be able to work around this until fixed with an oninit  statehaschanged..

[2019-08-19 21:17] jbomhold3 commented on #164
Exact error is we are calling statehaschanged on the child and not the parent. Will be fixed in next release

[2019-08-19 21:22] vhafdal opened #165 "ref suppressField"
Hi,
After the update from Preview 7 to Preview 8 for some reason it breaks after I call modal.Show()

`<span class="float-right"><BSButton Color="Color.Link" ButtonType="ButtonType.Link" Size="BlazorStrap.Size.Small" @onclick="@(() => { NewConfigModal.Show(); })"><i class="far fa-plus text-primary"></i> New</BSButton></span>`
[code]

I get a compile error when I do not use @ref:suppressField
using

[2019-08-19 21:33] chanan opened #166 "Migrate Bootstrap examples to BlazorStrap"
Migrate to BlazorStrap the examples here: https://getbootstrap.com/docs/4.3/examples/

[2019-08-19 21:50] jbomhold3 commented on #165
@ref:suppressField is required for what you trying to do.  You can't use autogen and manual backing field together. Autogen is also in a state of *F*&$#*&F&F so please continue to suppress it. It will be gone in preview 9.      https://github.com/aspnet/Announcements/issues/381

[2019-08-19 21:52] jbomhold3 commented on #165
Might have misunderstood you. Was that @ref:suppressField   = no compile and if used you get an error?

[2019-08-24 16:34] robertmclaws opened #168 "BSModalHeader applies Class to H5 instead of container"
### Expected Behavior:
` <BSModalHeader Class="bg-primary text-white" OnClick="@onToggle">Edit Accounts</BSModalHeader>` should render the following content:
[code]

### Actual Behavior:
This is rendered instead:
[code]

### Suggested Change:
`BSModalHeader's` Class property should apply to the container, and a new `TextClass` (or `HeaderClass`) property should be added that lets you manipulate th

[2019-08-25 03:06] dmarciano opened #169 "MissingMethodException AddMultipleAttributes"
I have been using BlazorStrap on two site, however one of the site suddenly started giving a console error regarding a missing method.  Below is the error message currently being shown in the Chrome console when I try to load a page that has BlazorStrap controls on it (even though it previously worked and I haven't made any recent changes to the site):

Error: System.MissingMethodException: Method

[2019-08-25 14:53] chanan commented on #169
@dmarciano I think the issue might be with what you are trying to pass in as an attribute. `DynamicElement` is the base class of all BlazorStrap components and it uses Blazor's `CaptureUnmatchedValues` to get all unnamed attributes you might put on an element (for example "style", "id", or "data-") and then it renders them directly using `AddMultipleAttributes`.

The error message is saying it can

[2019-08-25 23:43] kevonh opened #171 "IsPills not rendering correctly"
I have a BSTabGroup with the following Configuration, essentially copied and pasted from the example, but the pills are not rendering.

`        <BSTabGroup IsPills="true" IsList="true" ShowEvent="@Show" HiddenEvent="@Hidden" HideEvent="@Hide" ShownEvent="@Shown">
 <BSTabList>
                <BSTab>
                    <BSTabLabel>Ingredients</BSTabLabel>
                    <BSTabContent>

[2019-08-25 23:44] kevonh commented on #171
Also, notice how the first tab text align is lower than the following?

[2019-08-28 18:21] Redeye51 opened #172 "DropDown Menu not retaining selection"
The normal behavior of a select or drop down box is that once a value selected that value would show in the control. when I test your DDB the value is not retained. Is that by design or is that control on complete?

Thanks!

[2019-08-28 18:45] Redeye51 commented on #172
Chanan,

Thanks for the reply. All your samples use an href so I'm unable to test
this using your site.

Here's the code from my test page.

@page "/bstest"
<h3>BlazorStrap Test</h3>

<div class="row">
    <div class="col">
        <BSDropdown>
            <BSDropdownToggle>Dropdown1</BSDropdownToggle>
            <BSDropdownMenu>
                <BSDropdownItem>Action</BSDropdownItem>

[2019-08-29 01:48] jbomhold3 commented on #172
What are we testing here? BSDropDown is a navbar drop don't not a select option box... use <BSInput Inputtype="Inputtype.Select"> <option>value</option> </bsinput>    BSInputBasic if your not data binding

[2019-08-29 01:56] jbomhold3 commented on #169
Do you have any lambda's in tags that don't show up green? This might be a blazor bug it sounds like a  function is being passed in as a value. it shouldn't let you compile. but it thinks its just plan HTML razor allows it.  please look for lambda on non-green tags and/or none string variables so if you have something like.   enabled="@boolvar"  you will break splatting.

[2019-08-29 01:58] jbomhold3 commented on #164
@noahc3  Can you verify the issue is now resolved for you.

[2019-08-29 02:02] Redeye51 commented on #172
Hi,

This was a basic test of the component. My apologies, I must have missed
that detail. I didn't know it was a navbar only component. I am data
binding so the BSInputBasic won't work.

Thanks for your help.

Cheers

On Wed, Aug 28, 2019, 6:48 PM jbomhold3 <notifications@github.com> wrote:

[2019-08-29 02:02] #172 closed

[2019-08-29 12:45] AntonEriksson978 opened #173 "Support Datetime in BSInput"
When using InputType.DateTimeLocal this exception gets thrown in the console:

"WASM: System.InvalidOperationException: BlazorStrap.BSInput`1[System.DateTime] does not support the type 'System.DateTime'."

[2019-08-29 19:14] jbomhold3 commented on #173
Added Guid will add the data time . just not it has to be able to calculate it back from the bring so if you do a day month format only your going to get odd results.

[2019-08-30 12:55] jbomhold3 commented on #172
Bsinput for data binding with a model. no worries dont expect people to k ow what everything in the library does

[2019-09-03 14:30] jbomhold3 commented on #173
Added in PR  #175

[2019-09-03 14:37] #41 closed

[2019-09-03 14:38] #121 closed

[2019-09-03 14:55] jbomhold3 commented on #157
Added in PR #175

[2019-09-03 16:58] jbomhold3 commented on #156
Added in PR #175

[2019-09-04 02:10] chanan opened #176 "Update to Preview 9"

[2019-09-05 02:20] #176 closed

[2019-09-05 02:20] #173 closed

[2019-09-05 02:20] #165 closed

[2019-09-05 02:21] #164 closed

[2019-09-05 02:21] #157 closed

[2019-09-05 02:21] #156 closed

[2019-09-09 13:11] EricPalmer22 opened #180 "BSListGroupItem links are not being set correctly"
After upgrading our server side Blazor project to aspnetcore 3.0.0-preview9.19424.4 and BlazorStrap to 1.0.0-preview9-03, I've noticed that href links from BSListGroupItems are not getting set properly; they all seem to get "javascript:void(0)". The examples on the [demo site](https://blazorstrap.io/listgroups) also have this same issue

Here's a fresh page that I've been testing with:

[code]

[2019-09-09 17:39] jbomhold3 commented on #180
Hello. Issue Confirmed and PR is in place that addresses it

[2019-09-09 23:08] #180 closed

[2019-09-11 15:06] le5h opened #182 "nothing back from @bind-Value on checkbox"
and also I can't bind boolean, as I am expected for checkbox
![image](https://user-images.githubusercontent.com/10676426/64709150-7434c180-d4be-11e9-9641-dedf381a622d.png)

[2019-09-11 18:13] davidnmbond opened #183 "BSTabGroup example on a routed page does not work when direct routing"
When the page is loaded via a navigation, the 3-tabs tabs example renders OK.  However, when putting the URL directly into the browser navigation bar, we get a 500:

`An unhandled exception occurred while processing the request.

AggregateException: Exceptions were encountered while disposing components. (The current thread is not associated with the Dispatcher. Use InvokeAsync() to switch executi

[2019-09-11 23:04] chucker commented on #182
This indeed seems broken.

[code]

[2019-09-11 23:07] chucker commented on #182
`BSBasicInput` doesn't seem to be generic. I'm not sure if that's by design.

`BSInput` _is_ generic, so you might prefer using that. But it doesn't actually seem to work for checkboxes yet either.

[2019-09-14 04:54] anderjoy opened #187 "BSInput with decimal number or Nullable (int?/decimal?)"
How can i use the BSInput with decimal type or Nullabe type?

[2019-09-14 17:53] jbomhold3 commented on #187
Added  Support for nullable types testing now

[2019-09-14 18:08] jbomhold3 opened #188 "BSInput"
Just a heads up though no one should be using these anyway.
On BSInput these two Parameters will be removed in version 1.0.0
You should be binding to @bind-Value and not @bind-InputValue
- [Parameter] public string InputValue { get; set; }
- [Parameter] public EventCallback<string> InputValueChanged { get; set; }

[2019-09-14 18:28] jbomhold3 commented on #187
We do not normally do releases for one issue. However, this issue exposed a critical oversite in the project. One that could prevent people from using it for basic tasks.  Nullable Value types are now supported in BSInput...

- Int?
- Long?
- Double?
- Guid?
- DateTime?
- DateTimeOffsert?

[2019-09-14 18:44] anderjoy commented on #187
Thanks...
I made a workeraround to get around, the problem is that was repeating because there are several fields that are optional.

Soon I update to test...

[2019-09-14 20:34] #183 closed

[2019-09-14 20:34] #182 closed

[2019-09-15 11:14] MarkZither opened #191 "Using events on BSTabGroup causes InvalidOperationException"
using the example from https://blazorstrap.io/tabs when the page loads it results in an exception

An unhandled exception occurred while processing the request.
AggregateException: Exceptions were encountered while disposing components. (The current thread is not associated with the Dispatcher. Use InvokeAsync() to switch execution to the Dispatcher when triggering rendering or component state.) (

[2019-09-16 09:40] a-iafrate opened #192 "DataAnnotationsValidator not works with compare"
Hi

i have created a model like this

` [Required(AllowEmptyStrings = false, ErrorMessage = "Oh noes! that name is already taken")]
            public string Password { get; set; }
            [Required(AllowEmptyStrings = false)]
            [Compare("Password")]
            public string Password2 { get; set; }`

with this there is an error if password2 is empty but not if password2 is not equal

[2019-09-16 10:39] chucker commented on #191
@MarkZither what browser is this?

[2019-09-16 12:51] Eonasdan commented on #187
@jbomhold3 did this end up getting release? I have an error `BlazorStrap.BSInput`1[System.Decimal] does not support the type 'System.Decimal'.`

[2019-09-16 15:50] anderjoy commented on #187
I have the same error.
I tried with double but it's not allow number with decimal value: 58.85 > 5885.

[2019-09-16 19:49] jbomhold3 commented on #187
@Eonasdan  I have to prase all return types. So we can't support every return type. Double is what we are using for decimal numbers.

@anderjoy Can you shown an example of what you're doing. This is working for me https://blazorstrap.io/samples/issue187

[2019-09-16 19:53] jbomhold3 commented on #188
Removed in RC1

[2019-09-16 19:53] #188 closed

[2019-09-16 19:54] jbomhold3 commented on #192
File this in https://github.com/aspnet/aspnetcore. DataAnnotationsValidator is a default blazor component

[2019-09-16 20:23] anderjoy commented on #187
This is my code from razor:
`
    <div class="form-group col-md-6">
        <label for="ValorLiquidacao">Valor para liquidação</label>
        <BSInput Id="ValorLiquidacao" InputType="InputType.Number" @bind-Value="PortabilidadeAprovar.ValorLiquidacao" ValidateOnChange="true" />
        <BSFormFeedback For="@(() => PortabilidadeAprovar.ValorLiquidacao)" />
    </div>
`

My backend:
public class Po

[2019-09-16 20:32] anderjoy commented on #187
@jbomhold3 I think this problem is because my culture.

The code below:
[code]
Loses the decimal separator because you don't use culture.
When I change this code the issue is resolved:

[code]

[2019-09-16 20:35] jbomhold3 commented on #187
Looks good can you do a PR with the changes?

[2019-09-16 21:41] anderjoy commented on #187
Done.. #195

[2019-09-16 23:41] herbertmilhomme opened #196 "BlazorStrap is TOO Obtrusive/Intrusive"
I modified my html and layouts exactly like how **_I_** wanted it, and "expected" blazorstrap to only incorporate "functions" and "services." But instead, what i got is _MY_ `bootstrap.js/.css` double loaded on webpage out of order, and in places it shouldnt be, with versions i'm not even asking for.

**Is it possible to create blazorstrap as a c# extension/framework/utility, and let it ONLY add f

[2019-09-17 00:36] herbertmilhomme commented on #196
I resolved the modal pop-up error, but everything else still stands... (was user error on the modal not popping-up. i had used a manual override command to force pop-up while also having the auto trigger written in. They're not allowed to both be in-use, so i removed one and it's functional again).

[2019-09-17 01:36] herbertmilhomme commented on #135
this is relevant to #196. If you let the project remain C# only, and have it compound to already existing javascript functions provided by bootstrap base service (which is mandatory for use of blazorstrap). There isnt a need to repeat what bootstrap is already doing... we dont need to remove how a modal (or any other component) is made and replace it with a .net-signalr alternative. We can just le

[2019-09-17 02:01] 1Stan2Harris opened #197 "How do you set the size of the Carousel"
I'd like to have the BSCarousel take the top 20% of the screen.  I tried setting height in a <div> section and that failed to change the size.

[2019-09-17 02:11] herbertmilhomme commented on #197
maybe might have to manually set it using `@attributes`

https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#attribute-splatting-and-arbitrary-parameters

Follow that, and maybe toss in custom css as an inline `style` attribute?

[2019-09-17 06:09] herbertmilhomme opened #198 "Modal Backdrop is not functioning"
`BSModal.razor.cs`
[code]

I don't believe `OnAfterRender` is the best place to put the method/command. It needs to be an event listener, and currently it's only marked as a one time thing... so it's never really triggered because it's instantiated as false, and never changes.

Solutions?... maybe an actual event listener from the original `bootstrap.js` (why was it even disabled?)
Additional refe

[2019-09-17 07:06] jbomhold3 commented on #196
Blazor does not write directly to the dom. It uses difs. When you make changes directly to the dom. Blazor does not track them. Could some elements work better by just the js file. Absolutely until you need to open a ig modal in code. Now your adding more javascript interop calls to handle something a book call do on it's own. I don't support the idea of bringing in the bootstrap.js. The entire po

[2019-09-17 13:24] herbertmilhomme commented on #196
Hey @jbomhold3, thanks for your response and clarity. I guess by last part i may have overstepped and crossed a line, and should apologize to some degree for my harsh/bold words. If anything, please read the `TLDR` of my initial post, as i tried to rephrase core message of my post. Which probably wasnt there at the time you decided to reply. (I made a lot of edits to original post, as having a lot

[2019-09-17 13:38] chucker commented on #196
@herbertmilhomme keep in mind that JS interop is:

1) slow. Moving data back and forth between JS and C# a lot therefore isn't a great idea, and should be avoided in a relatively dependency like BlazorStrap where possible.

2) unavoidable to manipulate the DOM. If something can't be solved simply by emitting different markup within the component (_before_ that markup becomes part of the DOM), and/

[2019-09-17 13:39] chucker commented on #135
I think the answer to that question is why this issue exists. ;-)

[2019-09-17 13:46] herbertmilhomme commented on #196
I feel like what i'm saying and what you guys (both @jbomhold3 and @chucker) are saying are not relevant or related to each other (my concerns and your response). Miscommunication is pretty heavy, and i have no idea how to piece the two together. So instead of inciting a heated discussion/argument, i will concede to whatever it is you guys are saying (even though i have no clue what it is you're s

[2019-09-17 13:46] #196 closed

[2019-09-17 13:46] chucker commented on #198
[`OnAfterRender` isn't called once](https://docs.microsoft.com/en-us/aspnet/core/blazor/components?view=aspnetcore-3.0#lifecycle-methods) (hence its parameter `firstRun`). It's called whenever a new render was required, typically because the parameters have changed.

Your title is "Modal Backdrop is Broken", but it's not really clear to me whether you're saying something broke, or whether you disa

[2019-09-17 13:53] herbertmilhomme commented on #198
![image](https://user-images.githubusercontent.com/15901670/65047628-c481a880-d930-11e9-882f-3a8e021fbb2b.png)

I am fully aware...

[2019-09-17 14:04] herbertmilhomme commented on #135
@chucker lol. That's why it's at the very end in a "too long; didnt read..." at the bottom of a very wordy paragraph stating that it wasnt necessary. I am in agreement with Original Poster and offering more points to support case.

I was trying to get a conversation where both parties list a response and say "i am suggesting we do this" and the other side responds with a "i think it's better if we

[2019-09-17 14:08] herbertmilhomme commented on #198
@chucker i hope new title helps to clarify.

[2019-09-17 14:18] chanan commented on #198
@herbertmilhomme Thanks for the snippet, we will take a look. I should mention, I just started a new job on Monday and have to go to the office most this week (instead of working from home) - so my time is limited this week, but we will try to address this issue as soon as we can

[2019-09-17 14:19] chanan commented on #197
I will recheck reactstrap and react-bootstrap and see how those libraries handle this and get back to you.

[2019-09-17 14:20] chanan commented on #192
Closing this as it is not a reactstrap issue - feel free to open another issue if you run into other problems.

[2019-09-17 14:20] #192 closed

[2019-09-17 14:26] chanan commented on #135
To explain a bit - BlazorStrap does not use %99 of bootstrap javascript. In fact, the current version of bootstrap uses JQuery (this will change next version of bootstrap). BlazorStrap doesnt not use JQuery. There are a few places we couldnt (or choose not) to avoid javascript. The parts that we do use javascript for are listed in my initial description of the issue.

Ideally, blazorstrap wouldn't

[2019-09-17 14:45] herbertmilhomme commented on #135
@chanan addressing that subject would definitely do more to answer the question of "is blazorstrap.js a necessity?" You technically didn't answer anything in your explanation, so i missed the point of what the explanation was supposed to be expressing.

If there is no one to advocate for the other end of the argument then i guess it really is a moot point to hold further discussions in an echo cha

[2019-09-17 15:58] jbomhold3 commented on #196
@herbertmilhomme There are good things brought up here and as I said we will have a talk about them. I don't want you leaving here feeling like the entire conversation went in one ear and out the other. There is at least one topic brought up here that I very much agree with, and we will take steps to address it. Also, thank you for clearing up your statement.

[2019-09-17 16:23] jbomhold3 commented on #198
@herbertmilhomme are you using manual triggers or ref triggers?

[2019-09-17 16:33] herbertmilhomme commented on #198
@jbomhold3 Interesting... i didn't realize they yielded different results. Is it possible for you to offer me solutions to mimic the same results through both options? As i find one easier to implement for my needs than the  other. I believe the one i am using is "manual triggers." It's less moving parts and pieces to juggle around. But i'm disappointed that it really affects so much of my experie

[2019-09-17 16:42] herbertmilhomme commented on #198
I stand by my solutions offered, that the code should be `OnTriggered` (`.Hide()/.Show()`) instead of `OnComponentRender`. As one is more directly influenced why the other is not always a guarantee. Especially, when you think about it even further... why would you want a dom modifier so high up on food chain to be triggered every time, ANY element is loaded/refreshed, rather than specifically, onl

[2019-09-17 17:17] jbomhold3 commented on #198
Fixed in PR #199 it's been some time since I worked with that component. A lot of the oddball behavior was to deal with the Demo Modal being rendered to the screen.

[2019-09-17 19:10] herbertmilhomme commented on #198
@jbomhold3 thanks for speedy turn-around! i thought you would only have to modify one or two commands and that i could just copy and paste changes into my code. But i guess i'll just wait for next commit and then i'll merge changes into my local repository.

[2019-09-17 20:00] jbomhold3 commented on #198
Will have a release out today

[2019-09-17 23:53] jbomhold3 commented on #187
Added to lastest release. Thank you for the PR

[2019-09-17 23:53] #187 closed

[2019-09-18 14:20] #198 closed

[2019-09-18 14:21] jbomhold3 commented on #120
Going to close this. Very much have this now with BSInput, BSBasicInput you will need to control your own binding conversions.

[2019-09-18 14:21] #120 closed

[2019-09-18 14:22] anderjoy opened #202 "BSModal broken scrollbar"
Hello,

After the  last release the scrollbar of BSModal broken:

![image](https://user-images.githubusercontent.com/6249874/65157068-86ef4f00-da06-11e9-9bbf-62d77cffa84e.png)

[2019-09-18 14:36] jbomhold3 commented on #202
Looks like it's not outputting the model class in the body anymore. Going to do some testing and see what happened

[2019-09-19 07:57] jbomhold3 opened #203 "Add Animations"
👍  = complete
👎  = incomplete
- Modal  👍
- Carousels  👍
- Collapse 👎 - Will require a design change. This animation is on hold for now.

[2019-09-19 07:58] jbomhold3 commented on #202
Fixed in RC1-04 release soon

[2019-09-19 13:31] anderjoy commented on #202
Thanks...

[2019-09-19 22:12] #202 closed

[2019-09-21 09:01] ChocolaDiGiCharat commented on #203
Hello! I tried 1.0.0-RC1-04 but Modal no longer shows. I have too many nested "div" tags?

[2019-09-21 20:57] jbomhold3 commented on #203
What does your model code look like? Also, make sure the javascript isn't cached.   If that still does not work add disableanimations="true"

[2019-09-22 10:58] endeffects opened #206 "BSBasicInput Binding Issue"
I'm using the BSBasicInput to bind my models to a form. I've noticed that is currently not possible to bind anything else than strings and the generic support for other data types is available for BSInput components with an EditContext only.

Due the reason that i'm using a custom validation i can not use this, that why i'd to ask you to allow generic bindings for basic inputs too.

[2019-09-22 20:35] jbomhold3 commented on #206
It forces the user to supply a binding because of type of T. So we opted for basic to be used as an ill handle everything but the UI case. Still working on figuring if it's posable to do a default generic type.  If I can do that I will be more then happy to provide generic bindings for basic input. You can pass an editcontext that you don't use and use the bsinput.  If you have any ideas to defaul

[2019-09-22 21:16] jbomhold3 commented on #206
Think I have something that will work testing now

[2019-09-23 01:05] jbomhold3 commented on #206
@bind-value="foo" or value="foo"  is now required on BSBasicInput. However, binding to type T is now allowed.

[2019-09-23 20:56] jbomhold3 commented on #206
Released

[2019-09-24 18:46] #206 closed

[2019-09-25 02:33] jbomhold3 commented on #203
@ChocolaDiGiCharat  Make sure you include the <script src="_content/BlazorStrap/blazorStrap.js"></script>  in your _host.cshtml

[2019-09-25 08:08] Kanda opened #207 "OnInput"
Before the update to 1.0.0 I could use oninput in the following manor:
<BSBasicInput SM="10"  @oninput="OnReferenceChanged" PlaceHolder="Product reference"></BSBasicInput>

Now in the 1.0.0 release I can't figure out how to make it work on an input. The errors the above code gives:

1. The type arguments for method 'TypeInference.CreateBSBasicInput_0<T>(RenderTreeBuilder, int, int, object, int, ob

[2019-09-25 10:20] ChocolaDiGiCharat commented on #203
I'm creating a project that causes problems, but I can't make it in time. I'm sorry.

Yes shown!

No... hidden.

[2019-09-25 13:45] Reltik commented on #191
It happens to me too, Google Chrome 77

`InvalidOperationException: The current thread is not associated with the Dispatcher. Use InvokeAsync() to switch execution to the Dispatcher when triggering rendering or component state.
Microsoft.AspNetCore.Components.Dispatcher.AssertAccess()
Microsoft.AspNetCore.Components.RenderTree.Renderer.AddToRenderQueue(int componentId, RenderFragment renderFragmen

[2019-09-25 15:15] jbomhold3 commented on #203
Going to attempt to remove the javascript requirement for animations. I will do another release soon disabling them by default if I don't have a fix for the issue by tomorrow.

[2019-09-25 15:17] jbomhold3 commented on #207
<BSBasicInput InputType="InputType.Select" Value="Selected" ValueChanged="@((string value) => SelectedChanged(value))">

[2019-09-26 08:00] Kanda commented on #207
So how I did it is the intended way for OnInput in that case I guess.

You offer ValueChanged in your sample but that sadly only triggered for me when I left the box instead of triggering while typing.

Thanks for the feedback

[2019-09-26 15:00] jbomhold3 commented on #207
Yes, you're correct. I just offered a copy and paste a similar code we are doing in the demo

[2019-09-26 18:50] MarkZither commented on #191
@chucker i am using Edge Version 79.0.279.0 (Official build) dev (64-bit), and also checked on Firefox 69.0 (64-bit) and Chrome Version 77.0.3865.90 (Official Build) (64-bit)

I updated everything to 1.0.0 today and tried again and still get the same error.

[2019-09-26 18:53] jbomhold3 commented on #191
Can you give a source example? Not able to reproduce this

[2019-09-26 19:25] Reltik commented on #191
Mmm, you enabled ServerPrerendered mode?

El jue., 26 de septiembre de 2019 15:53, jbomhold3 <notifications@github.com>
escribió:

[2019-09-26 19:48] jbomhold3 commented on #191
I found the issue.  Doing a build and releasing now

[2019-09-26 19:50] jbomhold3 commented on #191
The cause was prerendering like @MarkZither pointed out.

[2019-09-26 19:51] #191 closed

[2019-09-26 19:52] jbomhold3 commented on #122
This is very old and no reply to the issue closing

[2019-09-26 19:52] #122 closed

[2019-09-27 15:42] jbomhold3 opened #210 "Make Validation only validate lost focused element"
Currently, we validate the entire form as the user inputs data. This can be an unexpected result for the user.

[2019-09-27 22:13] jbomhold3 commented on #203
Javascript is no longer required for animations.

[2019-09-28 08:20] MarkZither commented on #191
thanks @jbomhold3 working for me now.

[2019-09-29 14:08] endeffects commented on #206
Thanks alot, the generic binding works now. :)

[2019-09-29 14:11] endeffects opened #213 "BSBasicInput Custom Validation Issue"
I've noticed that the custom validation is no longer visualized if the generic binding for the BSBasicInput components gets applied. This effects all inputs on a form still if they bind strings only.

[2019-09-29 16:20] vixisoft opened #214 "How to remove class from BSNavbar"
I want to use the BSNavbar but it is adding navbar-light or navbar-dark.

I dont want to use them, so how is it possible to remove them ?
I think we should not have to create an jsinteropt to remove class from a framework.

[2019-09-30 14:03] chanan commented on #214
Hi @vixisoft ,

Looking at the examples on the bootstrap site: https://getbootstrap.com/docs/4.3/components/navbar/ it seems that navrbar always has navbar-light. What is your use case that it needs to be removed?

Also you do have 2 quick options to get around the navbar-light:

1. You could simply use a div styled the way you want it instead of BSNavBar:

[code]

2. Each BlazorStrap control supp

[2019-09-30 15:49] jbomhold3 commented on #213
Fixed Posting release soon

[2019-09-30 16:29] jbomhold3 commented on #213
Fixed in Release 1.0.101

[2019-09-30 16:29] #213 closed

[2019-09-30 16:30] jbomhold3 commented on #210
Changed in Release 1.0.101

[2019-09-30 16:30] #210 closed

[2019-09-30 20:06] anderjoy commented on #203
After the last release of version 101, when I close the popup, the scroll box disappears.

![image](https://user-images.githubusercontent.com/6249874/65912341-6d55ec00-e3a4-11e9-8e49-552810a7a556.png)

![image](https://user-images.githubusercontent.com/6249874/65912387-7d6dcb80-e3a4-11e9-8376-95350b0d9ad9.png)

When I close:
![image](https://user-images.githubusercontent.com/6249874/65912420-8c547

[2019-09-30 21:37] anderjoy opened #216 "After the last release of version 101, when I close the popup, the scroll box disappears."
After the last release of version 101, when I close the popup, the scroll box disappears.

![image](https://user-images.githubusercontent.com/6249874/65912341-6d55ec00-e3a4-11e9-8e49-552810a7a556.png)

![image](https://user-images.githubusercontent.com/6249874/65912387-7d6dcb80-e3a4-11e9-8376-95350b0d9ad9.png)

When I close:
![image](https://user-images.githubusercontent.com/6249874/65912420-8c547

[2019-10-01 15:31] jbomhold3 commented on #203
Can you confirm the body tag still has the modal class after it's closed? Guessing its not removing properly

[2019-10-01 15:32] jbomhold3 commented on #216
Can you confirm the body tag still has the modal class after it's closed? Guessing its not removing properly

[2019-10-01 19:36] anderjoy commented on #216
I just upgraded to version 104, so far could not play. And yes, there was the modal-open class in the body.

After the update, the body returned to normal after closing the modal.

[2019-10-01 23:09] Jerrgree commented on #216
Adding in that I also had issues with the scrollbar disappearing in 1.0.101. Upgrading to 1.0.104 resolved my issue as well.

[2019-10-03 13:54] #216 closed

[2019-10-04 06:55] ChocolaDiGiCharat commented on #203
Has  DisableAnimations been removed?
Since v.1.0.101, Modal can no longer be displayed.
I'm checking my code...

[2019-10-04 07:00] ChocolaDiGiCharat opened #218 "How to initial checked radio button."
Hello!
I tried the following code but didn't see the check.
Please advice.

[code]

[2019-10-04 16:06] jbomhold3 commented on #203
Yes please upgrade to 1.0.104 removed javascript from animations it was causing the issue

[2019-10-05 00:47] MisinformedDNA opened #219 "BSPaginationLink doesn't render Href"
BSPaginationLink accepts the Href property, but it doesn't actually render. So links show up as `<a class="page-link">` instead of `<a class="page-link" href="#">`, which is screwing up my CSS.

[2019-10-05 10:45] endeffects opened #220 "OnSubmit does not fire"
I changed my form submit button from onclick to form onsubmit, but the provided delegate is not called, also the custom validation get's not triggered:

[code]

I saw that you do not add the required Attribute for the Basic Form

`Formbuilder.AddAttribute(5, "OnSubmit", OnSubmit);`

[2019-10-06 12:40] endeffects opened #221 "Form Feedback / Summary Control"
I'm looking for a control to display server side errors so i I've checked out your BSValidationSummary Control, but i think it's not suitable for such a case.

It would be nice to have a control that behaves like the BSFormFeedback Control, where i can bind a property for cases like "HasErrors" or "WasSuccessfull" and which retrieves it's content from an other property / method to display them (la

[2019-10-07 05:33] jbomhold3 commented on #214
I'm guessing they are using a template that does not override it.

If we change

https://github.com/chanan/BlazorStrap/blob/3bdee604e8481812cb2a49a2abae43b7866ae9b8/src/BlazorStrap/Components/Nav/BSNavbar.razor.cs#L39

.AddClass("navbar-light", !IsDark &&  Color != Color.None)

It would allow removing it by setting the color to none.

[2019-10-08 15:33] jbomhold3 commented on #214
Added bool **HideLight**

[2019-10-08 15:33] #214 closed

[2019-10-08 15:33] jbomhold3 commented on #219
Added in 1.0.105

[2019-10-08 15:33] #219 closed

[2019-10-08 15:33] jbomhold3 commented on #220
Added in 1.0.105

[2019-10-08 15:33] #220 closed

[2019-10-08 15:34] jbomhold3 commented on #218
Added in 1.0.105   please look at examples

[2019-10-08 15:34] #218 closed

[2019-10-08 18:34] MisinformedDNA commented on #219
@jbomhold3 Thanks for [the fix](https://github.com/chanan/BlazorStrap/commit/d97497d1b478399f694bab4c8549c8afabb32789). An unfortunate side effect is that the demo site is not functioning as before.

Now when you click on the page links, the user is sent to the home page.

![image](https://user-images.githubusercontent.com/1784452/66422973-56308300-e9d0-11e9-99c1-b160bf459c7d.png)

![image](https:

[2019-10-08 21:15] jbomhold3 commented on #219
Will put a javascript:void(0) in them next release.  At least we know it works now :)

[2019-10-09 11:53] endeffects opened #223 "BlazorStrap Extension: FluentValidation Support"
Steve Sanderson provided a good solution to support Fluent Validation for Blazor.
So maybe this is a good enhancement for BlazorStrap too.

https://blog.stevensanderson.com/2019/09/04/blazor-fluentvalidation/

[2019-10-09 13:28] jbomhold3 commented on #223
Custom valdation types are already supported.. Use BSForm, BSInput

[2019-10-09 13:28] jbomhold3 commented on #223
I use a fluent validator in my person project already

[2019-10-09 13:47] 1Stan2Harris opened #224 "Checkbox can't be bound using @bind-Value="@boolProperty" or accepting Value="true""
I'm trying to set the value of the checkboxes checked state to match a boolean value from my model.  When, it doesn't allow bind value syntax, nor allow me to set the value once my api returns.
 Any suggestions?
Compiler error:
<BSBasicInput InputType="InputType.Checkbox" Id="defaultCheck1" @bind-Value="@prod.IsActive"/>

Doesn't set the check box:
<BSBasicInput InputType="InputType.Checkbox" Id="

[2019-10-10 05:11] jbomhold3 commented on #224
Highly suggest you use BSInput and BSForm if you have a modal. BSBasicInput is intended for people needing to render control without any of the automation. These two controls are getting closer closer to being the same thing, And I see a near future where they likely will be .Net Core 3.1.  For now keep in mind normal use is BSInput inside of BSForm and special use is BSBasicInput.  That being sai

[2019-10-10 05:21] jbomhold3 opened #225 "New Features"
Very curious about everyone's input on this. Keep in mind the goal of the project is to stay true to bootstrap.  We can use this thread to brainstorm. I'll start off. I want to add a real toaster. Myself, and Chanan have said it a few times but it hasn't been given a lot of priority.

[2019-10-10 07:37] endeffects commented on #223
Yeah, i know. I just thought it is a good improvement.

[2019-10-10 07:37] #223 closed

[2019-10-13 21:05] sfmskywalker commented on #92
I'm working on my first Blazor-powered project. Once we go live I would love a link to it on the project site :D

Thanks for such this awesome library!

[2019-10-14 02:46] scottkuhl opened #226 "Documentation Site on iPad Broken?"
The documentation site, https://blazorstrap.io/, does not seem to be working for me on an iPad running iOS 13.  Anyone else having this issue?

It’s working fine on my Note 10+.

[2019-10-14 04:39] jbomhold3 commented on #226
It does not surprise me Blazor wasm has had issues with IOS since day one. I think they have a fix in 3.1 for this.  We are considering changing the docs site to server-side. I will test IOS at work tomorrow.

[2019-10-14 08:17] chucker commented on #226
Yes, this is currently broken in iOS 13 / Safari 13 (but not older versions), for two reasons:

* there's a bug in how `Module` is defined (I put a workaround in the documentation site, hoping that would be enough)
* Safari aggressively limits the size of the call stack. The documentation site still suffers from this.

@jbomhold3 [the workaround that works for me](https://github.com/mono/mono/issu

[2019-10-14 13:46] jbomhold3 commented on #226
@chanan   Do we want to apply this?  It's going to be something we have to keep track of any make sure we don't override until its fully fixed in the framework.

[2019-10-14 14:38] chanan commented on #226
@jbomhold3 I saw this in the mono repo... I was hoping to avoid it :) But since we have no idea when this might be fixed (ASPNet 3.1?) might be that we have no choice?

[2019-10-14 14:45] chanan commented on #92
@sfmskywalker Yes, post a public project online and we will add a place(s) to list your project.

And thanks for the compliment, its great to see people use it and kudus to @jbomhold3 who has done most of the work lately!

[2019-10-14 14:46] chanan commented on #98
@jbomhold3 Since we are now in 1.0 timeframe, what are your thoughts on this one?

[2019-10-15 02:53] jbomhold3 commented on #98
it's useful still. Would be nice to be able to use it in another library without having to include all of blazorstrap

[2019-10-17 01:50] jbomhold3 commented on #226
I applied the first preview version does it help any?

[2019-10-17 16:19] chucker commented on #226
@jbomhold3 if you're saying that blazorstrap.io already runs it, no, it doesn't help. It still yields:

    Unhandled Promise Rejection: RangeError: Maximum call stack size exceeded.

[2019-10-18 12:27] Gander7 opened #227 "Manual entry of InputType.Date doesn't enforce format"
I understand that the forms are under development but wanted to make sure this was on your radar.

[code]

Datepicker portion works well imo.
Manually entry doesn't follow placeholder format. It accepts the year as 6 digits before moving to the month rather than 4.

Issue in action:
https://gyazo.com/1ebee2a7a5bcb803603c4bc4bc05deee

[2019-10-19 06:06] achmstein opened #228 "C# Acronyms Naming Guidelines"
Can you follow C# acronyms naming guidelines?
**DO** capitalize only the first character of acronyms with three or more characters, except the first word of a camel-cased identifier.

`await BootstrapCSS.SetBootstrapCSS("4.3.1");` should be `await BootstrapCss.SetBootstrapCss("4.3.1");`

[2019-10-19 06:49] jbomhold3 commented on #227
What browser are you using? Our datetime is nothing more than the default date input type.  So it uses the browsers built-in one. I could be a localization issue.

[2019-10-19 06:52] jbomhold3 commented on #228
@chanan You're fired!! You named something wrong. Ok not fired, grounded. Ok not grounded even. However, will let you address this one.

[2019-10-19 15:27] pyrox18 opened #229 "Horizontal forms do not render"
On version 1.0.105 with Firefox 71.0b1, the following form does not render:

[code]

This issue also seems to exist on the documentation website for the readonly plaintext field example, where it does not render between the heading and the code example.

[2019-10-19 15:54] pyrox18 commented on #229
Just did some further testing and found that the issue also exists on Chrome, so it's most likely not browser-related. The issue also does not exist on version 1.0.104, so it might be caused by something that was introduced in 1.0.105.

[2019-10-19 16:49] jbomhold3 commented on #229
Thanks for the testing. Looking into it. There was some changes to the BasicForm Render tree that might be causing an issue.

[2019-10-19 17:16] jbomhold3 commented on #229
The issue was found and fixed.

[2019-10-19 22:03] #229 closed

[2019-10-21 14:56] IvanJosipovic opened #233 "BlazorStrap launchSettings.json into Nuget Package"
BlazorStrap1.1.0-preview1-02 appears to be packing launchSettings.json while it shouldn't be.
content\Properties\launchSettings.json

Steps to repro:

1. Create new Blazor Project
2. Add BlazorStrap Nuget
3. lunchSettings.json shouldn't be visible
![image](https://user-images.githubusercontent.com/9521987/67216555-405f8c80-f3d8-11e9-8d24-98c3441bae17.png)

[2019-10-21 14:59] jbomhold3 commented on #233
Will look into it

[2019-10-21 15:10] jbomhold3 commented on #233
It's removed. However, not going to do a release for just this so it will be fixed in the next release. For now, you should be able to right-click it and exclude it from the project.

[2019-10-21 15:11] IvanJosipovic commented on #233
No problem, much appreciated!

[2019-10-23 11:21] phisakel opened #237 "Internet Explorer 11 error"
JavaScript critical error at line 92, column 25 in https://localhost:44380/_content/BlazorStrap/blazorStrap.js\n\nSCRIPT1014: Invalid character

[2019-10-23 12:44] jecourtney opened #238 "BSTabLabel vertical-alignment"
The first tab label text is vertically aligned in the center of the tab.  However, subsequent tab label text is not aligned in the center (seems slightly higher to the top)-- see attachment.  I've tried to align with CSS but no luck.  Any ideas?
![ex](https://user-images.githubusercontent.com/9951652/67393860-3a50e380-f571-11e9-9e52-e0b6b33859b3.jpg)

[2019-10-23 13:19] jecourtney commented on #238
nav-item css problem

[2019-10-23 13:19] #238 closed

[2019-10-25 13:14] rabirland opened #239 "Blazor two-way binding infinite loop"

[2019-10-25 13:14] #239 closed

[2019-10-27 20:31] desalbres commented on #77
Hi Chanan, could you provide a sample of several items per page as I couldn’t get it to work with the latest version, I think something is broken. I’d like to avoid using owlCarousel that has dependency on JQuery/JavaScript. Many thanks, Raphaël

[2019-10-28 14:53] Gander7 commented on #227
@jbomhold3 You're right, it's the default date input type. I believe it's because the input can handle dates past 9999-12-31. Found a solution [here](https://stackoverflow.com/questions/24603919/html5-date-input-6-digit-year).

By adding a `max="9999-12-31"` to the control, it will force 4 digits for selection.
Imo this issue can be re-purposed as either a feature request to add the max by default

[2019-10-28 19:05] jbomhold3 commented on #227
@chanan  What's your opinion?

[2019-10-28 21:09] peterblazejewicz commented on #237
That's because of the ES2015 (non-ES5) string literals used there:
https://github.com/chanan/BlazorStrap/blob/master/src/BlazorStrap/wwwroot/blazorStrap.js#L92
Let me look

[2019-10-28 21:17] chanan commented on #237
IE 11 doesnt do string literals? Well that will be an easy fix

[2019-10-28 21:19] chanan commented on #227
If its a default html prop, wont setting it on BSInput just pass it down to input? (because of the splat)

[2019-10-28 21:20] peterblazejewicz commented on #237
Nope, other magic also missing :) Made the PR, thanks!

[2019-10-28 22:56] #237 closed

[2019-10-29 12:46] Gander7 commented on #227
@chanan That's what I've done in my project. I've passed the attribute to the BSInput component.

Just thinking that it would be a reasonable assumption that most users won't need dates past year 9999, and if they don't catch this behavior, it would cause an issue with their users.

If it was set on the BSInput as default, then someone could possibly override if they needed to.

[2019-10-29 19:02] chanan commented on #227
@jbomhold3 I am good with this change if you are.
@Gander7 Any chance you want to submit a PR? :)

[2019-11-01 15:37] Gander7 commented on #227
@chanan I can take a look :)

[2019-11-08 19:24] 1Stan2Harris opened #242 "Card Deck doesn't refresh : <BSCard CardType="CardType.Deck">"
I have a menu that has multiple links to a products page, each link changes the product type so when clicked the products page should reload the card deck.

Once the parameters are set (override async Task OnParametersSetAsync()) I call a function (GetData()) which refreshes the list of products via an API call to the database.  The cards don't refresh, however; an HTML table pointing to the same

[2019-11-08 19:31] chanan commented on #242
Are you able to get a small reproduction? Maybe from a json file instead of a database?

[2019-11-08 20:16] 1Stan2Harris commented on #242
Yes,
I've modified the VS2019 sample program weather forecasts
1. Add nuget for BlazorStrap
2. Modify the Weather forecast service to get 10 forecasts
3. Modify menu to pass an int parameters from the menu
4. Add second link, to pass a different parameters from the menu
5. Modify FetchData.razor - to create a deck and add some cards.
[BlazorApp6.zip](https://github.com/chanan/BlazorStrap/files/382

[2019-11-08 20:16] chanan commented on #242
Thanks, we will try it out and get back to you

[2019-11-11 17:35] 1Stan2Harris commented on #242
Thanks,
It appears as if it looses it's binding to the list of objects.

[2019-11-12 17:21] #233 closed

[2019-11-13 06:27] ChocolaDiGiCharat opened #243 "[Question] How to DateTime-Local and DateTime binding."
Hi,
I tried binding but DateTime.Now is not displayed in the form element.
Please give me advice.

[code]

[2019-11-14 09:23] tobbi opened #244 "BlazorStrap Modal only showing backdrop for server-side Blazor"
I'm not sure if this is an actual issue or a support request. Anyway, here goes:
This is my _Host.cshtml:
[code]

I'm using the BlazorDualMode as described here: https://github.com/Suchiman/BlazorDualMode (not sure if that matters or not).

I'm using BlazorStrap 1.0.105.

When the modal is supposed to show, it only shows the backdrop. I have the following code in my .razor file:
[code]

and I'm ca

[2019-11-15 14:26] DubRave commented on #244
I'm having the same issue. A little investigation and comparing the modal example to my own result I notice that the main div for the modal is rendered without inline style `style="display: block; padding-right: 17px;"`. I Also thnik the css class "show" is missing when rendered.

[2019-11-20 17:40] rpskelton2 opened #246 "Displayed sample code is obsolete"
At least on the carousel page...  If you copy & paste the code from the demo site there are a bunch of malformed tags and some missing javascrip.  If I pull the code directly from github source it's fine.

[2019-11-20 18:01] rpskelton2 opened #247 "No way to turn of carousel auto slide"
As described here, in bootstrap you can set interval=false or data-interval=false.  Blazorstrap uses an int for that parameter so false is not possible.  data-interval= false is ignored.  If you want to keep a strongly typed int Interval then another way need to be provided to turn off auto slide changing.

https://stackoverflow.com/questions/14977392/bootstrap-carousel-remove-auto-slide

[2019-11-20 18:04] chanan commented on #247
If we allow 0 to mean turn off auto slide would that work?

[2019-11-20 18:16] rpskelton2 commented on #247
Works for me!  Maybe just Interval < 1 means off?  Either way is fine.

[2019-11-21 00:20] jbomhold3 commented on #246
Thanks, for reporting we will fix the snippet .

[2019-11-25 09:58] chucker commented on #225
Is there a list of missing of what's missing but still planned?

E.g.,

* Spinner
* checkbox/radio button variants of Button

[2019-11-26 09:02] mghanem-itg opened #248 "Modal body not showing when open modal"
This is the example :

[code]

when click on the button UI blocked as expected but modal body is not showing.

[2019-11-26 12:00] mbinot opened #249 "BSDropdownItem IsDisabled="true" does not disable the item"
Setting the property IsDisabled="true" does not seem to affect the BSDropdownItem in any way.

[2019-11-26 15:17] Gander7 opened #250 "Can't seem to access EditContext"
I have a form with 4 radio buttons that act like a status, and the validation of the form needs to change and trigger, based on the radio button value. I have everything working except for triggering a validation of the entire form when the radio button value changes.

I wanted to use `EditContext`s Validate or something similar but can't seem to access it.
Is there a way to access `BSForm`s EditC

[2019-11-26 15:41] Gander7 commented on #250
For example, given the following form:
<BSForm Model="@Model" ValidateOnInit="true">
    <BSRow>
        <BSFormGroup>
            <BSLabel For="Field1">Field 1, Required on "Status 2"</BSLabel>
            <BSInput InputType="InputType.Text" Id="Field1" @bind-Value="Model.Field1" Size="Size.Small" ValidateOnChange="true" />
         </BSFormGroup>
    </BSRow>

    <BSRow>
        <BSLabel For="S

[2019-11-27 18:28] Gander7 commented on #250
Would it be as easy as exposing EditContext as a public Parameter?
Then a dev could do `<BSForm BSContext="@MyContext">` and both the BSForm and the dev could use it.

[2019-11-28 06:09] jbomhold3 commented on #250
No. We are using the same edit context as default. I did make a shim to get
it in another project. I'll post the code for the component

[2019-11-28 06:16] jbomhold3 commented on #250
Doing this from memory but should work. This comp would go inside the
bsform comp.
Your control
<GetEditContext MyEditContext="@_editContext"/>
@code
{
private EditContext  _editContext
}

GetEditContext.razor
@code
{
    [CascadingParameter] public EditContext MyEditContext { get; set; }
}

On Thu, Nov 28, 2019 at 12:09 AM John Bomhold <jbomhold3@gmail.com> wrote:

[2019-11-28 07:36] ynigoreyes opened #252 "Navigation Bar starting state"
So I can't seem to set the correct starting state of the navigation bar based on the size of the screen at the moment. When it is in "Desktop", I want the full view, any smaller and I want to see the hamburger. Do you know how to do this? This is what i have so far...

[code]

[2019-11-28 11:36] jbomhold3 commented on #250
After reviewing this more I deleted my old response. We are using the EditForm Component from Blazor. This is why it's interchangeable with Default components.  Just like the default DataAnnotationsValidator  you would nest it inside of your bsform then it has full access to the edit context.  EditContext is cascaded down this is something I hope we have better access to in 3.1 .

To use ForceVali

[2019-11-28 11:38] jbomhold3 commented on #249
Confirmed Bug

[2019-11-28 11:39] jbomhold3 commented on #248
Not Able to repo what browser?

[2019-11-28 11:42] mghanem-itg commented on #248
@jbomhold3 I'm using chrome.
I think this is similar opened issue  https://github.com/chanan/BlazorStrap/issues/244

[2019-11-28 11:46] jbomhold3 commented on #244
Going to leave this open for reference for the workaround. However, I don't want to add a bunch of tweaks to support a dated browser. I know some companies still use it, most are finally moving away . Since as there is a working workaround and it would require browser-dependent code I don't see a reason to do this.  We will continue to take feedback on it and this issue will stay open so it's easy

[2019-11-28 11:55] DubRave commented on #244
This is not just an Internet Explorer issue, I was having the same issue using Chrome.

[2019-11-28 22:22] tobbi commented on #244
Changed title as per https://github.com/chanan/BlazorStrap/issues/244#issuecomment-559465454

[2019-11-29 18:21] zbecknell commented on #244
I'm also having this issue on Chrome and Firefox.  I just started dual-targetting both CSB and SSB, and SSB fails to show the modal (but does display the backdrop).

[2019-11-29 18:37] zbecknell commented on #244
Ahh, turns out I just needed to follow instructions.  When I created my server-side host view I didn't include the JS:

[code]

[2019-11-29 18:38] #244 closed

[2019-11-29 20:09] DubRave commented on #244
@zbecknell thanks, seems I missed that step as well :)

[2019-12-01 01:27] jbomhold3 commented on #249
Fixed with #253 . Build soon

[2019-12-01 01:29] jbomhold3 commented on #248
Make sure you have the script included

[2019-12-04 18:45] tobbi commented on #244
I'm sorry, but this issue is not resolved.

I figured out why it's happening: Upon loading the blazorStrap.js file, the following error occurs:
[code]

[2019-12-04 19:37] zbecknell commented on #244
@tobbi If you haven't updated to `preview4` Blazor packages I would suggest it.  I believe your problem MAY be because you're dual-booting and prior to preview4 only SSB needed the script tag.  Now that preview4 is out, both SSB/CSB need the script tag included, as CSB before was grabbing the needed JS itself (which may've been the source of your problem?).

[2019-12-04 19:37] chucker commented on #226
This should be resolved in 3.1 final. See https://github.com/mono/mono/issues/16986

[2019-12-04 19:39] Gander7 commented on #250
Got it working using @ref and BSForm.ForceValidate().
Thanks for the help and direction :)
I'm good for this to be closed if you are.

[2019-12-04 19:41] Gander7 commented on #227
@chanan @jbomhold3
I'm good for this to be closed since the PR has been merged.

[2019-12-06 02:44] kgday opened #254 "BSFormFeedback needs to be rerendered when validation state has changed"
I am using .net core 3.1.0.
Let's look at a simple form.  In this case we using Blazored FluentValidation component from Chris Sainty, but it makes no difference which validation component you use.

The form, Login.razor:
[code]

The validator looks like this:
[code]
So the Email field cannot be empty.  When the page is first shown we have empty fields and it all looks fine.  If enter the Email fi

[2019-12-11 10:03] rrvanleeuwen commented on #248
I have exactly the same here.
All worked with .netstandard2.0 and older aspnetcore blazor preview.
After upgrade the project from .netstandard 2.0 to 2.1 and latest aspnetcore.blazor 3.1.0-preview4.19579.2 it stopped working.
UI disabled, but no popup. In both browsers: chome and edge
I tried also to copy the content folder from netstandard2.0\dist\_content to netstandard2.1\dist\_content, no diff

[2019-12-11 10:11] rrvanleeuwen commented on #248
OK, after reading #244 I tested to include <script src="_content/BlazorStrap/blazorStrap.js"></script> also in index.html and it worked.
Strange thing that before updating to .netstandard 2.1 it worked withoud this script included...

[2019-12-11 12:15] mghanem-itg commented on #248
Issue fixed by adding the js reference, thanks!

[2019-12-15 05:05] #249 closed

[2019-12-15 05:06] jbomhold3 commented on #247
Interval = 0 will disable auto slide

[2019-12-15 05:06] #250 closed

[2019-12-27 03:55] bholland314 opened #256 "Can someone give an example of using MRAuto?"
I'm trying to do a 2 column layout with the first col taking up 11 columns and I want a single column on the far right. Normally this is done with class="mr-auto", but I can't seem to get it to work with BlazorStrap's MRAuto property.
Thanks

[2019-12-31 04:44] shahedc commented on #149
Btw, the attribute Context is case-sensitive, so a lower-case 'c' won't work when adding the context name. You must spell the word Context with an upper-case 'C'.

[2019-12-31 17:38] SayusiAndo commented on #246
Other pages also obsolete. If I can get access to the page I'm happy to invest some time to fix the samples.

[2019-12-31 17:41] chanan commented on #246
That would be awesome!

The sample site is at: https://github.com/chanan/BlazorStrap/tree/master/src/SampleCore/Pages
The code snippets are at: https://github.com/chanan/BlazorStrap/tree/master/src/SampleCore/wwwroot/snippets

You can easily run it locally by cloning the whole repo, opening up the solution in VS Studio, then running either the project in Sample (Client side), or the project in Ser

[2019-12-31 17:46] SayusiAndo commented on #246
Thanks, I'll take a look at it soon.

[2020-01-01 15:37] SayusiAndo commented on #246
I created a PR (#257) for Modal fixes. In the following days I'm going through all components.

[2020-01-11 08:40] SayusiAndo commented on #228
Is this something needs to be fixed?

[2020-01-13 00:31] SayusiAndo opened #258 "Roadmap?"
I'd like to offer my help because I have a few hours in a week for working on for example this project, since my project leverages on this too. Before I jump in and start doing anything, possibly messing up something, I'd like to get some info about the next steps. What plans do you guys have for the next release? What should be fixed, enhanced etc? Is there a roadmap for the future? Could you pul

[2020-01-13 15:27] chanan commented on #258
Hi @SayusiAndo,

Other than the items in issues we dont have anything big planned right now. We want to have feature parity with react bootstrap libraries (there are 2), which we are pretty close, just need to re-review and find any gaps.

One item that is not on the list is to upgrade to the latest cssBuilder library that was just released (https://github.com/EdCharbeneau/CssBuilder) - which shou

[2020-01-15 14:05] mattgenious opened #259 ".net core 3.1.1 Microsoft.JSInterop.JSException: Could not find 'blazorStrap' in 'window'."
It seems after updating to net core 3.1.1 and updating Microsoft packages to that blazorstrap no longer loads the css.
It seems specifically the call
[code]
Is failing.
Specifically the console output i am getting is:
[code]

[2020-01-16 13:21] mattgenious commented on #259
This issue is fixed by adding the following in the head section in the index.html file in the wwwroot
[code]

[2020-01-16 14:33] chanan commented on #259
I will look into seeing if we can catch that error somewhere and output an error saying that the js file is missing.

[2020-01-16 14:42] #259 closed

[2020-01-21 14:11] dmatter98 opened #260 "Carousel AggregateException when added to Tab control"
**VERSION**
1.1.101 (BOS)

**ISSUE:**
When adding a Carousel to the BSTabContent region the carousel is throwing an exception.

**EXCEPTION**
[2020-01-21T14:06:44.240Z] Error: System.AggregateException: One or more errors occurred. (Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'index'))

 ---> System.ArgumentOutOfRangeException: Index was out of

[2020-01-26 06:45] MichaelSL opened #261 "Setup docs mistake"
It seems like there was an error in Setup documentation using `Client side` for both client and server side setup:

![image](https://user-images.githubusercontent.com/2205113/73131675-2506ad80-3fd5-11ea-9466-3de211ef58a9.png)

[2020-01-26 15:48] chanan commented on #261
Thanks for letting us know, will update shortly

[2020-01-27 09:16] luvssti opened #262 "how to add select in validation?"
I there a way to add select in form?

Thank You!

[2020-01-27 14:53] chanan commented on #262
Do you mean a select drop down?

Like this one:

[code]
There are a few more examples here: https://blazorstrap.io/forms

[2020-01-27 23:49] luvssti commented on #262
Thank You!

[2020-01-28 13:50] c0fe opened #263 "Setting up an accordion menu"
I have an accordion menu that appears to be this way in pure html:

[code]

Where the `<li>` tag opens up a `<ul>` tag to list additional `<li>` tags which function as the links. I read the documentation for Blazorstrap but I am not sure if this is supported.

What happens in the HTML version if you click on the parent `<li>` tag then the menu will expand with animation, if you click on it again o

[2020-01-31 14:23] chanan commented on #263
Are you asking if you can nest accordion menus?

[2020-01-31 17:59] c0fe commented on #263
I am asking if BlazorStrap has a similar element that allows building of menus like MatBlazor does:

https://www.matblazor.com/NavMenu

[2020-02-02 18:10] chanan opened #264 "Updated to Web Assembly 3.2.0 preview1"

[2020-02-02 18:42] chanan commented on #264
When running in client side, navmenu and sidebar aren't showing.

[2020-02-15 08:35] stanac commented on #264
I would add that BsModal isn't showing after upgrade (only backdrop)

[2020-02-15 15:38] chanan commented on #264
I haven't been able to migrate to 3.2 at all yet, so I am not surprised some things won't right if you take the 3.1 version of blazorstrap and put in a 3.2 preview version

[2020-02-15 16:49] stanac commented on #264
I don't have a lot of front-end code, that might be the reason why it's partially working (I am trying to remember where BS components are used, if they are at all in the app, beside the modal), to run the app I had to comment out `bootstrapCSS.SetBootstrapCSS("4.3.1")`

[2020-02-20 14:06] chanan commented on #264
@jbomhold3 I need a second pair of eyes on this. Everything is fine in server mode, but in client mode, the top nav and left nav are hidden. No idea why.

[2020-02-20 17:09] jbomhold3 commented on #264
Ok will take a look

[2020-02-26 18:21] chucker commented on #264
@stanac hmm, the modal works for me. Make sure you have `<script src="_content/BlazorStrap/blazorStrap.js"></script>` in your `index.html` or `_Host.cshtml` (depending on WASM or Server). This requirement is new for Blazor WASM in .NET Core 3.1 final, alas.

[2020-02-26 18:22] chanan commented on #264
Just keep in mind that we haven't recompile BlazorStrap to 3.2 preview 1 yet due to an issue running the client side docs site.

[2020-02-26 18:50] stanac commented on #264
@chucker thanks, modals are working after adding the script tag.

[2020-02-26 18:55] chucker commented on #264
@chanan yes, I see what is presumably your issue if I don't include the CSS.

[2020-02-26 18:57] chanan commented on #264
weird, i will keep workng on it, this week has been late nights at work, so couldnt do it yet.

[2020-02-28 21:49] timbze opened #270 "BSTabGroup not working in ServerPrerendered?"
Looking at #191, it almost seems to say Tabs will not work when settings are on ServerPrerendered? Is that correct? I've been using some different components from BlazorStrap but couldn't figure out why Tabs were not working properly yet (i.e. not showing any data in BSTabContent)

Are there any plans to make it working?

[2020-02-29 00:19] #264 closed

[2020-03-01 23:34] arivera12 commented on #225
Stepper component?

It should behave very closely to the tabs component but should

- Expose a property to select the index of the step.
- Forward steps navigation should be deactivated until step is available.

Haven't test the tabs components itself to see if is possible to disable/deactivate navigation.

I will give feedback soon.

[2020-03-04 07:38] fabianus76 opened #271 "Correction documentation"
Here:
https://blazorstrap.io/dropdowns

in the "Directions" section

there is confusion between BSButtonGroup and BSDropdown

![image](https://user-images.githubusercontent.com/18581848/75855911-894a3780-5df3-11ea-9280-40be5d0a45c1.png)

[2020-03-04 20:34] arivera12 commented on #207
I can't make the oninput event to work instead of default change event...
[code]
Then I get this error
![image](https://user-images.githubusercontent.com/5600102/75920331-840ddc80-5e35-11ea-826a-5e0dd6f68689.png)

If I remove `@bind-Value:event="oninput"` then it works perfectly but only when input lost focus.

[2020-03-04 21:44] arivera12 commented on #225
### FluentValidation

IMO fluentvalidation offers more advance validation system that .net  validation attributes that would be a huge plus. It seems someone have already done an integration with blazor but won't integrate with BSInput and BSFormFeedback components. [https://github.com/Blazored/FluentValidation](https://github.com/Blazored/FluentValidation)

[2020-03-12 02:18] chanan opened #272 "Regarding 3.2 Preview2 - Please read"
I am not going to update BlazorStrap to wasm 3.2 preview 2 due to a bug I found deploying a CSB to github pages. I will wait till the issue is resolved:
 https://github.com/dotnet/aspnetcore/issues/19775  <--- original issue

Current issue for tracking: https://github.com/dotnet/aspnetcore/issues/19796

[2020-03-12 16:06] chanan commented on #272
There is a work for this issue now: https://github.com/dotnet/aspnetcore/issues/19796#issuecomment-598269333 - I will publish a new version of BlazorStrap tonight

[2020-03-15 16:07] MasterSkriptor opened #273 "Alert Dismiss"
Is there plans for adding the ability to close an alert through an event, so that it can be closed using a timer for example?

Unless I am missing something I do not see a way to do this.

[2020-03-15 17:33] chanan commented on #273
Hi @MasterSkriptor - Yes, that is is an oversight. Would you like a method on the alert to close it?

[2020-03-15 17:36] MasterSkriptor commented on #273
That would be great!

[2020-03-15 19:30] chanan commented on #273
Exposed IsOpen property on the BSAlert tag to show and hide the alert. It's available in 1.3.0 that was just released

[2020-03-15 19:30] #273 closed

[2020-03-15 22:13] songpa opened #274 "Document - Button Groups"
There is incorrect rendering for Dropdown button(toggle).
Please see below screenshot.

![image](https://user-images.githubusercontent.com/1508380/76711698-80594000-66e8-11ea-8c01-cf33da943228.png)

[2020-03-15 22:59] #274 closed

[2020-03-16 00:45] chanan commented on #274
Deployed

[2020-03-17 15:45] #272 closed

[2020-03-18 13:38] win32nipuh opened #277 "Why it is: Cannot process pending renders after the renderer has been disposed.?"

[2020-03-18 13:52] chanan commented on #277
Can you supply a small repro?

[2020-03-18 14:39] win32nipuh commented on #277
There is my draft page which generates the exception. I need to have 2 TabPages but now I removed the 2nd but even  for one TabPage it generates an exception:

[code]

[2020-03-18 14:42] chanan commented on #277
Thanks for the Repro - I will take a look at it this evening

[2020-03-18 21:36] MasterSkriptor commented on #273
Works beautifully. Thanks.

[2020-03-19 08:51] win32nipuh commented on #277
I am not sure that the exception is in BlazorStrap, but its API calls are in the stack. Thats why I thought it can be connected with BlazorStrap. I understand you cannot run it, I will check if I can create a small app to reproduce

[2020-03-19 19:50] jbomhold3 commented on #277
Attempt the following change please  OnParametersSetAsync   to OnInitializedAsync   . OnParametersSetAsync happens anytime a parameter. The description states it should be within the render cycle. However, I ran into this many times with different projects. So as a general rule of thumb anything that renders does not live inside that life cycle.. Not sure if this has been fixed or not but try it o

[2020-03-19 20:06] jbomhold3 commented on #270
No, they will work prerendered they will just not take part in the prerendering. Tabs are stateful and need the circuit or client to be live to function properly. Nothing should render until its ready. That being said the fix is rather old it might have broken. Will look into it.

[2020-03-19 20:17] jbomhold3 commented on #263
This is all going to be CSS.  This an example of the setup

[code]

[2020-03-21 23:40] blinard commented on #228
Hey @chanan  or @jbomhold3  - I'm not sure why this issue didn't close out when PR #265 went in but it should have. Not sure if I'm able to close out this issue at this point; one of you guys might need to close it.

[2020-03-21 23:57] #228 closed

[2020-03-29 20:16] arivera12 opened #278 "Integrating fluentvalidator throw an error on input fields"
Hi,

I was working integrating `FluentValidation ` using Steve Sanderson integration approach.

https://blog.stevensanderson.com/2019/09/04/blazor-fluentvalidation/

https://gist.github.com/SteveSandersonMS/090145d7511c5190f62a409752c60d00#file-fluentvalidator-cs

But the input on change event the value is binded correctly but the validator throws an error `onblur`.
![image](https://user-images.gi

[2020-03-31 21:07] arivera12 opened #279 "[Feature] Add Modal options IsBottomSheet, IsFullWidth and IsFullScreen."
Hi,

It would be cool to add an option `IsBottomSheet `and display modal as a bottom sheet.

I created a fiddle with the 2 classes/styles that needs to be added to display modal as a bottom sheet.

This option is cool for mobile devices please consider it.

http://jsfiddle.net/wod0r5v1/

It would be good too to have an option `IsFullWidth` modal when ever is needed.

Also a `IsFullScreen` option w